.g_ad_header     {color:#555555;font-weight:bold;font-size:11px;padding-bottom:7px}
.g_ad_title      {color:#205d89;font-size:11px}

.g_ad_url:hover { color:Green;}
.g_ad_url:visited { color:Green; }
.g_ad_url:active { color:Green; }
.g_ad_url:link { color:Green; }

.g_ad_text       {color:#000000}
.g_ad_url        {color:#32CD32;}
.g_ad_box        {padding:2px;font-size:11px}
.g_wide_ads      {background:#FFFFFF}
.g_wide_header   {text-align:left}
.g_narrow_ads    {font-size:10px; background-color: #F0F0F0; width:140px; word-wrap:break-word;}
.g_narrow_header {text-align:left}


.ID_g_ad_header     {color:#555555;font-weight:bold;font-size:11px;padding-bottom:7px; padding-left:17px}
.ID_g_ad_title      {color:#205d89;font-size:11px}

.ID_g_ad_url:hover { color:Green;}
.ID_g_ad_url:visited { color:Green; }
.ID_g_ad_url:active { color:Green; }
.ID_g_ad_url:link { color:Green; }

.ID_g_ad_text       {color:#000000;}
.ID_g_ad_url        {color:#32CD32;}
.ID_g_ad_box        {padding:2px;font-size:11px;;padding-left:5px}
.ID_g_wide_ads      {background:#FFFFFF}
.ID_g_wide_header   {text-align:left}
.ID_g_narrow_ads    {font-size:10px;  width:145px; word-wrap:break-word;}
.ID_g_narrow_header {text-align:left}