/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
    .menu-area ul li ul, .three-menu-area ul li ul {
        min-width: 142px;
    }
    
    .top-cart-title {
      padding: 3px 27px 7px 17px;
    }
    .menu-area ul li a {
      padding: 20px 15px 19px;
    }
    .slider-2 h1 {
        margin-top: -179px;
    }
    .nivoSlider .layer-5 {
        top: 45%;
    }
    .slider-1 h1 {
        margin-top: 201px;
    }  
    .price-box p {
        margin: 0 0px 0 0;
    }
    .product-name a {
        font-size: 14px;
    } 
    .single-product.s-sing {
        padding: 13px 0 13px 13px;
    }
    .single-product .content-box {
        padding: 0 0 0 7px;
    } 
    .primary-image.two, .secondary-image.two {
        height: 60px;
        width: 60px;
    }  
    .single-product .content-box {
        padding: 0 0 0 6px;
    }
    .indicator-style2.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 168px;
    }
    .content-box.again {
        padding: 23px 5px;
    }
    .sppb-testimonial-message p {
        font-size: 16px;
    }
    .testimonial-author {
        padding-right: 90px;
        margin-right: 0%;
    }
    .sppb-testimonial-message {
        padding-bottom: 7px;
    }
    .twitter-text p {
        font-size: 12px;
    }
    .tweetprofilelink strong a {
        font-size: 13px;
    }
    .footer-static-title h3 {
        font-size: 13px;
    }
    .footer-static-content ul li a {
        font-size: 13px;
    } 
    .item_all.indicator-style3.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 95%;
    }
    .features-curosel2.indicator-style2.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 94%;
    }
    .three-menu-area ul li a {
        font-size: 15px;
    }
    .ma-title3 h2 {
        font-size: 17px;
    }
    .category-menu-list.an-cat3 ul li a {
        line-height: 30.5px;
    }
    .days.days-three {
        margin-bottom: 16px;
    }
    .nivoSlider .layer-5.s-title-three {
        top: 60%;
    }
    .title-container h1.title1.ali-tre{
        font-size: 50px;
    }
    .search.three-sreach.four-sa {
        width: 67%;
    }
    .logo.logo-four {
        margin-top: 27px;
    }
    .price-box {
        font-size: 15px;
    }
    .preview-2 .nivo-controlNav {
        bottom: 70px;
    }
    .days.days-two {
        margin-bottom: 13.5px;
    }
    .days.days-two.tw {
        margin-bottom: 2px;
    }
    .simple-area.another-simple {
        margin-top: 17px;
    }
    a.min2 {
        font-size: 30px;
    }
    .layer-2.h-four2 h2 {
        font-size: 16px;
    } 
    h2.block-subtitle {
        font-size: 16px;
    }
    .block-content3 a {
        padding: 0 9px;
    }
    .f-fix {
        padding: 12px 35px 28px;
    }
    .email.s-email.s-wid {
        width: 85%;
    }
    .logo.lg-mbl {
        margin-top: 37px;
    }
    .menu-area ul li a.active1::before {
        right: 15px;
    }
    .title-container h1.title4.home33 {
        font-size: 50px;
        margin-top: -38%;
    }
    .title-container h3.title3.home33 {
        font-size: 50px;
    }
    .col-md-3.slide-padding {
        padding: 0 15px;
    }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .top-cart-title {
        padding: 3px 17px 7px 15px;
    }
    .search_mini_form {
        width: 86.5%;
    }
    .search {
        width: 60%;
    } 
    .menu-area ul li a {
        padding: 20px 2px 19px;
    }
    .fa.fa-lightbulb-o, .fa.fa-home, .fa.fa-fax, .fa.fa-rocket, .fa.fa-history {
        margin-right: 4px;
    }
    .menu-area ul li a {
        font-size: 13px;
    }
    .slider-2 h1 {
        margin-top: -110px;
    }
    .nivoSlider .layer-5 {
        top: 62%;
    }
    .slider-1 h1 {
        margin-top: 4px;
    }
    .layer-1 {
        margin-top: 7%;
    } 
    .indicator-style2.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 94%;
    }  
    .item_all.indicator-style3.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 94%;
    }  
    .testimonial-author {
        margin-right: 0%;
        padding-right: 45%;
    }
    .sppb-testimonial-message {
        padding-bottom: 18px;
    } 
    .product-title.pro-title.tit2.ti-re {
        margin-top: 40px;
    }
    .payment-title h3, div.subscribe-title h3 {
        font-size: 19px;
    }  
    .block-subscribe {
        padding: 15px 23px 10px;
    }
    .col-md-3.col-sm-12.midiam {
        margin-bottom: 29px;
    } 
    .col-md-3.midiam{
        margin-bottom: 40px;
    }
    .layer-1.la-none {
        display: none;
    }
    .layer-1.layer-three h1 {
        font-size: 50px;
        margin-top: 20%;
    }
    .days.days-two {
        margin-bottom: 13px;
    }
    .logo.lg-mbl {
        margin-top: 49px;
    }
    .search.three-sreach {
        width: 100%;
    }
    .three-menu-area ul li a {
        font-size: 13px;
    } 
    .days.days-three {
        display: none;
    }
    .cat-left-drop-menu.a-three {
        visibility: hidden;
    }
    .category-menu-list.an-cat3 {
        display: none;
    }
    .left-category-menu.en-the {
        margin-bottom: 20px;
    }
    .search.three-sreach.four-sa {
        margin: 30px 0 0 0px;
    }
    .three-menu-area.four-menu ul li a {
        font-size: 16px;
    }
    .layer-1.h-four h1 {
        font-size: 40px;
    }
    .layer-5.more .r-title a.min2 {
        font-size: 24px;
    }
    .layer-2.h-four2 h2 {
        font-size: 13px;
    }
    .nivoSlider .layer-5.more {
        top: 69%;
    } 
    .preview-2 .nivo-controlNav {
        bottom: 8%;
    }
    .block-content3 a {
        font-size: 13px !important;
        padding: 0 5px;
    }
    h2.block-subtitle {
        font-size: 13px;
    }
    .moto-side ul li {
        font-size: 13px;
    }
    .s-email {
        margin-bottom: 10px;
    }
    .col-md-6.contactemail.npr {
        padding-left: 0;
    }
    .block-content3 {
        padding: 13px;
    }
    .col-md-6.col-sm-12.my-mrgn {
        margin-top: 42px;
    }
    .f-fix {
        padding: 12px 35px 30px;
    }
    .text .nav li a {
        font-size: 12px;
        padding: 15px;
    }
    .input-one label.required {
        margin-right: 13px;
    }
    .menu-area ul li a.active1::before {
        right: 6px;
    } 
    .cart-collaterals .totals {
        margin-top: 42px;
    } 
    .top-cart-contain::before {
        right: 24px;
    }
    .about-optima-img img {
        width: 100%;
    }
    .about-optima-text h1 {
        margin-top: 20px;
    }
    .free-up img {
        width: 100%;
    }
    .category-heading h2::before {
        font-size: 15px;
        margin-right: 10px;
        padding: 0 18px;
    }
    .left-category-menu > .left-product-cat > .category-heading > h2 {
        font-size: 15px;
    }
    .cate-border.cate2{
        padding-right:15px;
    }
    .menu-area ul li ul::after, .three-menu-area ul li ul::after {
        border-bottom: 0px solid #fff;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        content: "";
        height: 0;
        left: 0px;
        position: absolute;
        top: -0px;
        width: 0;
    }
    .menu-area ul li ul, .three-menu-area ul li ul {
        min-width: 140px;
    }
    ul.tablet {
        right: 15px;
    }
    .col-md-3.slide-padding {
        padding: 0 15px;
    }
    .days.days-two.tw {
        margin-bottom: 6px;
    }
}
/* small mobile :320px. */
@media (max-width: 767px) {
    .container {
        width:300px
    }
    .postwrapper {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .postdetails {
        padding-bottom: 10px;
    }
    .main-menu-area {
        display: none;
    }
    .mobile-menu-area {
        display: block;
        margin: 20px 0 0;
    }
    .right-link {
        display: none;
    }
    .search {
        width: 100%;
    } 
    .header-shop {
        width: 100%;
    }
    .home .wish-cart.margin {
        top: 100%;
        right: 0;
    }
    .logo.lg-mbl {
        margin: 20px 0;
    }
    .title-container h3.title3 {
        display: none;
    }
    .slider-2 h1 {
        display: none;
    }
    .preview-2 .nivo-controlNav {
        left: 29%;
        top: 62%;
    }
    a.min1 {
        font-size: 22px;
    } 
    .s-title {
        display: block;
    }  
    .title-container h2.title2 {
        display: none;
    } 
    .slider-1 h1 {
        display: none;
        margin-top: 243px;
    }
    a.title4 {
        font-size: 22px;
    }
    .layer-2 h2.title6 {
        display: none;
    } 
    .title-container h1.title1, .layer-1 h1.title5 {
        display: none;
    }
    .six {
        display: none;
    } 
    .col-md-3.col-sm-3.col-xs-12.sm-mrgn {
        margin-bottom: 20px;
    } 
    .galaxy.gal {
        margin-bottom: 8px;
    }
    .features-tab .nav-tabs > li > a {
        font-size: 12px;
    }
    .days-all {
        margin-bottom: 20px;
    }
    .single-product {
        margin-bottom: 11px;
    } 
    .product-sidebar {
        margin-top: 20px;
    } 
    .free-all {
        margin-bottom: 20px;
    }
    .row.margin {
        margin-top: 10px;
    }
    .item_all.indicator-style3.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 82%;
    }
    .features-curosel2.indicator-style2.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 90%;
    }
    .product-title {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .features-tab .nav.nav-tabs {
        float: left;
        margin-bottom: 5px;
    }
    .item_all {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .latest_all {
        margin-bottom: 20px;
    }  
    .client-slider-all {
        margin-bottom: 20px;
    }  
    .testimonial-author {
        margin-right: 0%;
        padding-right: 27%;
    }
    .tweetprofilelink strong a {
        font-size: 11px;
    }
    .payment-title h3, div.subscribe-title h3 {
        font-size: 14px;
    }
    .block-subscribe {
        margin-bottom: 20px;
    }
    .row.paymented {
        margin-top: 20px;
    }
    .testimonials-area {
        margin-bottom: 20px;
    }   
    .footer-address address {
        font-size: 13px;
    }
    .col-md-2.col-sm-4.col-xs-12.foot-l {
        margin: 20px 0;
    }
    .home .wish-cart.margin {
        left: 15px;
        top: 100%;
    }
    .all-section-area {
        display: none;
    }
    .tab-text, .tab-text3{
        margin-top: 10px;
    } 
    .an-itm{
        margin-top: 0;
    } 
    .colors-down.an-colo {
        margin-bottom: 10px;
    }
    .top-sale.an-top {
        margin-top: 10px;
    }
    .free-all.an-f-all {
        margin-top: 7px;
    }
    .three-menu-area {
        display: none;
    }
    .search.three-sreach {
        width: 100%;
    }
    .search.three-sreach {
        margin: 3px 0;
    }
    .days.days-three {
        display: none;
    }
    .col-md-3.midiam.mi-three {
        margin: 20px 0;
    }
    .col-md-3.m-one-three {
        margin: 20px 0 0;
    }
    .row.pay {
        margin-top: 10px;
    }
    .row.three-thst {
        padding: 0 0 10px;
    }
    .product-title.pro-title.pr-three {
        margin-top: 20px;
    }
    .top-cart-wrapper.wrap {
        float: left;
    }
    .top-shop-title a span.count {
        left: 60%;
    }
    .tab-text3.tab-text33 {
        margin-top: 0;
    }
    .three-menu {
        background-color:inherit;
    }
    .four-mini {
        width: 100%;
    }
    .search.three-sreach.four-sa {
        margin: 30px 0 0;
        width: 100%;
    }
    .top-cart-wrapper.wrap.fr {
        margin: 22px 0 0;
    }
    .layer-1.h-four {
        display: none;
    }
    .layer-2.h-four {
        display: none;
    } 
    .layer-1.h-four2 {
        display: none;
    }
    .layer-5.more .r-title a.min2 {
        font-size: 18px;
    }
    .layer-3.h-four {
        margin-top: 13%;
    }
    .features-tab .nav-tabs.tab-left > li > a {
        margin-right: 5px;
        padding: 10px 10px;
    }
    .row.on-sale {
        padding: 20px 0 30px;
    }
    .col-md-3.mi-four {
        margin-top: 20px;
    }
    .row.on-sale.on-four {
        padding-bottom: 11px;
    }
    .features-tab3.indicator-style2.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 84%;
    }
    .preview-2 .nivo-controlNav {
        left: 41%;
        top: 64%;
    }
    .layer-5.more .r-title a.min2 {
        font-size: 16px;
    }
    .nivoSlider .layer-5 {
        margin-left: 30%;
    }
    .form-search.three-form.in-te {
        border: 1px solid #e5e5e5;
    }
    .top-cart-wrapper.wrap.fr .top-shop-title a span.count {
        top: 59%;
    }
    .breadcrumbs .container-inner {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .about-optima-text h1, .about-sec-head h2, h2.creative-member, .contact-content-area h2 {
        font-size: 20px;
    }
    .signup-newsletter > h2 {
        font-size: 15px;
    }
    .blog-search button {
        font-size: 14px;
    }
    .signup-newsletter .blog-search {
        width: 90%;
    } 
    .newsletter-area {
        margin: 0px 0 0;
    }
    .shop-slider-area.all-page {
        margin: 10px 0 0;
    }
    .about-optima-text h1, .about-sec-head h2, h2.creative-member, .contact-content-area h2 {
        margin-bottom: 10px;
    }
    .features-tab .shop-all-tab .two-part {
        width: 58%;
    }
    .sort-by {
        display: none;
    }
    .postwrapper {
        padding: 0px 0px;
    }
    .posttitle h2 {
        font-size: 15px;
    }
    .free-up img {
        width: 100%;
    }
    .features-tab .blog-all {
        margin-bottom: 0px;
    }
    .check h1 {
        margin: 20px 0 20px;
    }
    .block-content.s-blk.k-blk.che {
        margin-top: 20px;
    }
    .easy-res {
        margin-top: 60px;
    }
    .s-email {
        margin-bottom: 10px;
    }
    .input-one label.required {
        margin-right: 0;
    }
    .shop-img.popular {
        margin-top: 20px;
    }
    .map-area {
        margin-top: 20px;
    }
    .page-title {
        margin-bottom: 0px;
    }
    .page-title h1 {
        margin: 10px 0 10px;
    }
    .col-md-6.contactemail.npr {
        padding-left: 0;
    } 
    .entry-header-area {
        padding: 10px 0;
    }
    .col-md-6.col-sm-12.my-mrgn {
        overflow: hidden;
        padding-top: 20px;
    }
    .form-action label {
        float: left;
    }
    .sort-by.an-short {
        display: none;
    }
    .features-tab .shop-all-tab .two-part.an-tw {
        width: 100%;
    }
    .category-image {
        margin-top: 20px;
    }
    .f-fix {
        padding: 12px 35px 25px;
    }
    .single-product.sn-pro {
        margin-bottom: 20px;
    }
    .two-part .page ul {
        margin-top: 0px;
    }
    .s_big {
        display: none;
    }
    .cras .product-name h1 {
        font-size: 30px;
    }
    .actions-inner-shop .add-to-links li a {
        font-size: 12px;
    }
    .email.s-email.s-wid {
        width: 84%;
        margin-left: 8px;
    } 
    .text .nav li a {
        font-size: 11px;
    }
    .button.btn-in.btn-out {
        margin-left: 0;
        margin-top: 20px;
    }
    .shop-slider-area.all-page2 {
        margin: 0;
    }
    .shop-img.an-shop-img {
        margin-bottom: 10px;
    }  
    .required.s-size {
        padding-right: 8px;
    }
    .top-sale.relate {
        margin-top: 10px;
    } 
    .actions.actions2 {
        float: left;
    }
    .button.btn-in.bt-mot.u-mot {
        margin-left: 0px;
    } 
    .button.last-c.bt-mot span {
        font-size: 14px;
    }
    .header-shop {
        margin-top: -0px;
    }
   .top-cart-contain::before {
        float: left;
        right: 39%;
    }
    .top-cart-wrapper {
        float: left;
    }
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width:450px;
    }
    .indicator-style2.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 89%;
    }
    .features-tab .nav.nav-tabs {
        float: right;
    }
    .item_all.indicator-style3.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 89%;
    }
    .tweetprofilelink strong a {
        font-size: 20px;
    }
    .testimonial-author {
        padding-right: 54%;
    }
    .top-shop-title a span.count {
        left: 40%;
    }
    .features-tab3.indicator-style2.owl-theme .owl-controls .owl-buttons div.owl-prev {
        right: 90%;
    }
    .preview-2 .nivo-controlNav {
        bottom: 8%;
    }
    .preview-2 .nivo-controlNav {
        left: 41%;
        top: 72%;
    }
    .top-cart-wrapper.wrap.fr .top-shop-title a span.count {
        top: 59%;
    }
    .features-tab .shop-all-tab .two-part {
        width: 37%;
    }
    .sort-by {
        display: block;
    }
    .form-action label {
        float: right;
    }
    .email.s-email.s-wid {
        width: 90%;
    } 
    .actions-inner-shop .add-to-links li a {
        font-size: 16px;
    }
    .button.btn-in.btn-out {
        margin-left: 10px;
        margin-top: 0px;
    }
    .button.last-c.bt-mot span {
        font-size: 16px;
    }
    .button.btn-in.bt-mot.u-mot {
        margin-left: 3px;
    }
    .top-cart-contain::before {
        right: 56%;
        left: 168px;
    }
}
