@import url(fontawesome.css);
.ui-checkbox.flush-left .ui-btn-icon-left {
	padding-left: 1.9375em; }

.ui-checkbox.flush-left .ui-btn-icon-left:after {
	left: 0;
	opacity: .8; }

#filterForm .filter.pickup-group .form-field .ui-checkbox.flush-left {
	margin-top: .2em; }

#mobile-logo-icons a, #mobile-logo-icons a:visited, #mobile-logo-icons a:hover, #mobile-logo-icons a:active {
	color: #003479;
	font-size: 16px; }
@media only screen and (max-width: 375px) {
	#mobile-logo-icons a, #mobile-logo-icons a:visited, #mobile-logo-icons a:hover, #mobile-logo-icons a:active {
		font-size: 12px !important;
		margin-top: 7px; } }

#mobile-logo-icons .current-store-tip a, #mobile-logo-icons .current-store-tip a:visited, #mobile-logo-icons .current-store-tip a:hover, #mobile-logo-icons .current-store-tip a:active, #mobile-logo-icons .account-menu-tip a, #mobile-logo-icons .account-menu-tip a:visited, #mobile-logo-icons .account-menu-tip a:hover, #mobile-logo-icons .account-menu-tip a:active {
	font-size: inherit; }

#mobile-logo-icons .current-store-tip .btn-primary, #mobile-logo-icons .account-menu-tip .btn-primary {
	font-size: 13px; }

#mobile-logo-icons .cartItemCount {
	font-size: 11px;
	margin-right: 3px; }

#mobile-logo-icons .fa-store-alt + .fa-caret-down {
	margin-left: 4px;
	margin-right: -4px; }

.account-menu-tip {
	width: 220px;
	margin-bottom: 10px;
	margin-left: -150px;
	box-sizing: border-box; }
.account-menu-tip.center:after {
	left: 146px !important; }
.account-menu-tip a:not(.btn-primary) {
	background-color: transparent;
	border: 0 none;
	text-shadow: none;
	display: inline-block;
	padding: 10px 0;
	text-transform: none;
	text-decoration: underline; }
.account-menu-tip .logged-in-info {
	font-size: 12px;
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 1px solid #003479; }
.account-menu-tip .btn-primary {
	margin: 0;
	padding: 12px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: auto;
	display: block; }

/* PDP Mobile */
#pdp-order-color .colorBlock {
	margin-right: 5px; }
#pdp-order-color .colorBlock > a {
	display: inline-block; }

.pdp-button-row {
	margin: 0 0 15px 0 !important; }
.pdp-button-row > .primaryButton {
	margin: 0 !important; }

.cart-pickup-top {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #f7f7f7; }
.cart-pickup-top > .selected-store a {
	font-weight: normal;
	color: #003479; }
.cart-pickup-top > div.fourteen {
	margin-left: 0; }

#shipCollapseSet .ui-collapsible {
	padding-bottom: 10px; }

#shipCollapseSet .ui-collapsible-content {
	padding: 5px 40px !important; }
#shipCollapseSet .ui-collapsible-content .selectStyle {
	margin-left: 0 !important;
	width: 100%;
	height: auto;
	border: 0 none; }
#shipCollapseSet .ui-collapsible-content .selectStyle .ui-select #savedAddress-button {
	margin-top: 0; }
#shipCollapseSet .ui-collapsible-content .addressHighlightBlock {
	margin-left: 0 !important;
	margin-top: 3px !important; }

.confirmation-status-block .ui-body {
	padding-left: 0;
	padding-right: 0; }

#confirmationSet .ui-grid-a > .ui-block-a {
	width: 85px;
	float: left;
	clear: none; }

#confirmationSet .ui-grid-a > .ui-block-b {
	margin-left: 95px;
	float: none;
	clear: right;
	padding-top: 10px; }

/* order conf and order details cust serv box */
#customer-service-infobox {
	background-color: #f7f7f7;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 10px; }
#customer-service-infobox .phone-group {
	margin-bottom: 15px;
	overflow: hidden;
	/* legacy float clear */ }
#customer-service-infobox .phone-group-head-1 {
	font-weight: bold;
	margin-bottom: 15px; }
#customer-service-infobox .phone-group-head-2 {
	font-weight: bold;
	margin-bottom: 5px; }
.ui-collapsible-content #customer-service-infobox {
	/* order details is already in a gray box */
	background-color: #F2F8FD;
	border: 1px solid #003479; }

/* loading/spinner */
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0); }
	40% {
		-webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0); }
	40% {
		-webkit-transform: scale(1);
		transform: scale(1); } }

.loadingSpinner {
	opacity: 0.4;
	position: relative;
	pointer-events: none;
	min-height: 100px; }
.loadingSpinner .spinner {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin: 0 -35px;
	text-align: center;
	z-index: 100000; }
.loadingSpinner .spinner > div {
	width: 18px;
	height: 18px;
	background-color: #003479;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
.loadingSpinner .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s; }
.loadingSpinner .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s; }

/* Forms */
/*
.selectStyle is partially copied here (from /ux/css/base.css) since bopis.css is shared across desktop and mobile codebases
it's limited to .form-field .selectStyle so it doesn't affect any existing occurrences in the legacy code
if you wanted it to apply everywhere, the .form-field ancestor in the selector chain could be removed for bopis purposes
*/
.form-field .selectStyle {
	overflow: hidden;
	background: url("../img/common/blueselectarrow.png") no-repeat right #fbfbfb;
	border: 1px solid #ccc; }

.form-field .selectStyle select {
	background: transparent;
	font-size: 16px;
	line-height: normal;
	border: 0;
	border-radius: 0;
	padding: 10px 0px 14px 21px;
	-webkit-appearance: none; }

.form-field .selectStyle select::-ms-expand {
	display: none; }

.form-field {
	padding-top: 25px; }
.form-field > label {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #272a2b; }
.form-field .selectStyle {
	width: auto;
	height: auto;
	/* needed to override checkout-shipping styles */
	margin-left: inherit;
	/* needed to override checkout-shipping styles */ }
.form-field .selectStyle select {
	width: 100%;
	background-color: transparent;
	padding: 10px 0px 14px 21px; }
.form-field .selectStyle select:disabled {
	opacity: .6;
	color: #5a5a5a; }
.form-field .field-tip {
	display: block;
	padding: 8px 0 5px 0; }

.form-field-radio {
	padding-top: 10px; }
.form-field-radio > label {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #272a2b; }

.form-field-checkbox {
	/* On mouse-over, add a grey background color */
	/* When the checkbox is checked, add a blue background */ }
.form-field-checkbox > label {
	display: block;
	position: relative;
	padding-top: 0;
	padding-left: 31px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 14px;
	line-height: 21px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }
.form-field-checkbox input {
	visibility: visible !important;
	display: inline-block !important;
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0; }
.form-field-checkbox .checkmark {
	background: #fbfbfb url(../img/common/checkbox1.png) left top no-repeat;
	height: 21px;
	width: 21px;
	position: absolute;
	top: 0;
	left: 0; }
.form-field-checkbox > label input:checked ~ .checkmark {
	background-position: -22px 0px; }

/* this is a copy of the .mainBody styles that will work inside of modals */
.form-field input[type="text"], .form-field textarea, .form-field select, .form-field input[type="password"] {
	border: 1px solid #a6a6a6;
	background-color: #fbfbfb;
	font-size: 16px;
	color: #003479;
	font-family: Helvetica, Arial, sans-serif; }

.form-field input[type="text"], .form-field input[type="password"] {
	padding: 14px 0 14px 21px;
	width: 320px;
	font-family: Helvetica, Arial, sans-serif; }

.form-field select {
	border: 0 none; }

/* accessibility */
.view-hidden {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important; }

.page-error {
	color: #ff0000;
	font-size: 14px;
	padding: 15px 0; }

.field-error {
	color: #ff0000;
	padding: 5px 0; }

.msg-available {
	color: #216500; }

.msg-unavailable {
	color: #ff0000; }

.font-weight-normal {
	font-weight: normal; }

.font-weight-bold {
	font-weight: bold; }

.font-italic {
	font-style: italic; }

.text-center {
	text-align: center; }

.text-right {
	text-align: right; }

.text-left {
	text-align: left; }

.text-uppercase {
	text-transform: uppercase; }

.d-inline {
	display: inline; }

.d-inline-block {
	display: inline-block; }

.d-block {
	display: block; }

.d-none {
	display: none; }

/* IMG stuff */
.img-fluid, .cart-row .prodimage a img, #checkoutRightCartSummary .cart-row .Checkoutprodimage a img, #orderConfirmationSummary .cart-row .Checkoutprodimage a img {
	max-width: 100%;
	height: auto; }

/* uses the technique described here:
https://www.sitepoint.com/maintain-image-aspect-ratios-responsive-web-design/
*/
.img-fluid-1-to-1 {
	position: relative;
	height: 0;
	padding: 100% 0 0 0;
	/* 1/1 would be 100% */
	overflow: hidden; }
.img-fluid-1-to-1 img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0; }

.d-flex {
	display: flex; }

.d-inline-flex {
	display: inline-flex; }

.flex-direction-column {
	flex-direction: column !important; }

.flex-direction-row {
	flex-direction: row !important; }

.align-items-start {
	align-items: flex-start !important; }

.align-items-end {
	align-items: flex-end !important; }

.align-items-center {
	align-items: center !important; }

.align-items-baseline {
	align-items: baseline !important; }

.align-items-stretch {
	align-items: stretch !important; }

.justify-space-between {
	justify-content: space-between !important; }

.p-5 {
	padding: 5px !important; }

.p-10 {
	padding: 10px !important; }

.p-20 {
	padding: 20px !important; }

.pt-5 {
	padding-top: 5px !important; }

.pt-10 {
	padding-top: 10px !important; }

.pt-20 {
	padding-top: 20px !important; }

.pr-5 {
	padding-right: 5px !important; }

.pr-10 {
	padding-right: 10px !important; }

.pr-20 {
	padding-right: 20px !important; }

.pb-5 {
	padding-bottom: 5px !important; }

.pb-10 {
	padding-bottom: 10px !important; }

.pb-20 {
	padding-bottom: 20px !important; }

.pl-5 {
	padding-left: 5px !important; }

.pl-10 {
	padding-left: 10px !important; }

.pl-20 {
	padding-left: 20px !important; }

.px-5 {
	padding-left: 5px !important;
	padding-right: 5px !important; }

.px-10 {
	padding-left: 10px !important;
	padding-right: 10px !important; }

.px-20 {
	padding-left: 20px !important;
	padding-right: 20px !important; }

.py-5 {
	padding-top: 5px !important;
	padding-bottom: 5px !important; }

.py-10 {
	padding-top: 10px !important;
	padding-bottom: 10px !important; }

.py-20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important; }

.m-5 {
	margin: 5px !important; }

.m-10 {
	margin: 10px !important; }

.m-20 {
	margin: 20px !important; }

.mt-5 {
	margin-top: 5px !important; }

.mt-10 {
	margin-top: 10px !important; }

.mt-20 {
	margin-top: 20px !important; }

.mr-5 {
	margin-right: 5px !important; }

.mr-10 {
	margin-right: 10px !important; }

.mr-20 {
	margin-right: 20px !important; }

.mb-5 {
	margin-bottom: 5px !important; }

.mb-10 {
	margin-bottom: 10px !important; }

.mb-20 {
	margin-bottom: 20px !important; }

.ml-5 {
	margin-left: 5px !important; }

.ml-10 {
	margin-left: 10px !important; }

.ml-20 {
	margin-left: 20px !important; }

.mx-5 {
	margin-left: 5px !important;
	margin-right: 5px !important; }

.mx-10 {
	margin-left: 10px !important;
	margin-right: 10px !important; }

.mx-20 {
	margin-left: 20px !important;
	margin-right: 20px !important; }

.my-5 {
	margin-top: 5px !important;
	margin-bottom: 5px !important; }

.my-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important; }

.my-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important; }

/* Buttons */
.btn-row button, .btn-row a {
	margin-left: 12px; }
.btn-row button:first-child, .btn-row a:first-child {
	margin-left: 0; }

.btn-primary {
	font-size: 13px;
	font-weight: bold;
	width: auto !important;
	background: #002C66 !important;
	background-image: linear-gradient(#124784, #003479) !important;
	color: #ffffff !important;
	text-transform: uppercase !important;
	padding: 15px 36px;
	border-radius: 4px; }

a.btn-primary {
	display: inline-block; }

/* icons */
.icon-close {
	display: inline-block;
	background: #333;
	width: 30px;
	height: 30px;
	position: relative; }
.icon-close:before, .icon-close:after {
	content: '';
	height: 5px;
	width: 25px;
	display: block;
	background: #fff;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	position: absolute;
	top: 12px;
	left: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg); }
.icon-close:after {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg); }

.bg-gray-1 {
	background-color: #fbfbfb; }

.bg-gray-2 {
	background-color: #f7f7f7; }

.bg-gray-3 {
	background-color: #dddddd; }

.bg-gray-4 {
	background-color: #c7c8ca; }

.bg-light-blue {
	background-color: #dcedfa; }

.bg-lighter-blue {
	background-color: #F2F8FD; }

.border-blue {
	border-style: solid;
	border-color: #003479; }

.border-width-1 {
	border-width: 1px; }

.blocker {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 2999998;
	/* stay on top of feedback sidebar which is 2000201 */
	box-sizing: border-box;
	background-color: rgba(74, 74, 74, 0.75);
	text-align: center;
	/* flex positioning below allows height to be passed down for scrolling and allows it to collapse to the size of content */
	display: flex;
	justify-content: center;
	align-items: center; }

.blocker:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.05em; }

.blocker.behind {
	background-color: transparent; }

/* stay on top of feedback sidebar which is 2000201 */
.modal {
	transition: all 0.2s ease-in-out;
	vertical-align: middle;
	position: relative;
	z-index: 2999999;
	max-width: 1024px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: #ffffff;
	text-shadow: none;
	font-size: 13px;
	-webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
	text-align: left;
	/* flex positioning below allows height to be passed down for scrolling and allows it to collapse to the size of content */
	display: flex;
	flex-direction: column;
	/* for responsive this media query would kick in at min-width 768 to capture the change from tablet to desktop */
	/* since we want the maxium modal to be 600px, the media query has been lowered */ }
.modal a {
	/* helps with some differences in the inheritance on mobile */
	text-decoration: underline;
	color: #003479; }
.modal > .modal-inner {
	box-sizing: border-box;
	padding: 50px 30px 15px 30px;
	height: 100%;
	overflow-y: auto; }
.modal.modal-loading {
	width: 90%;
	max-width: 900px;
	height: 33%;
	/* temp height needed for transition */ }
.modal.titled {
	/* assumes 50px buttons on SM and MD */
	/* assumes 40px buttons on LG */ }
.modal.titled > .modal-title {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0;
	font-size: 22px;
	font-weight: 700;
	line-height: 59px;
	min-height: 60px;
	background-color: #003479;
	border-bottom: 1px solid #265494;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #ffffff;
	padding: 0 63px 0 25px;
	box-sizing: border-box; }
.modal.titled > a.close-modal {
	position: absolute;
	width: 30px;
	top: 14px;
	right: 17px;
	z-index: 1; }
.modal.titled > a.close-modal .icon-close {
	background-color: transparent; }
.modal.titled > a.close-modal .icon-close:before, .modal.titled > a.close-modal .icon-close:after {
	background-color: #ffffff; }
.modal.titled > .modal-inner {
	padding: 15px 20px;
	margin-top: 60px;
	height: calc(100% - 60px);
	overflow-y: auto; }
.modal.titled.modal-loading #modal-loading {
	/* used when loading a multi-col layer (like PDP layer), since it doesn't have a modal-inner */
	margin-top: 60px; }
.modal.titled #modal-loading {
	height: calc(100% - 60px); }
.modal.titled.full-bleed > .modal-inner {
	padding: 0; }
.modal.hidden {
	display: none !important; }
@media only screen and (min-width: 600px) {
	.modal {
		height: auto;
		max-height: 90%; }
	.modal.modal-size-default {
		width: 90%;
		max-width: 900px; }
	.modal.modal-size-sm {
		width: 505px;
		max-width: 505px; }
	.modal.modal-loading {
		width: 90%;
		max-width: 900px;
		height: 33%;
		/* temp height needed for transition */ }
	.modal.titled > .modal-inner {
		padding-left: 30px;
		padding-right: 30px; } }

.qtip.tip-in-layer {
	z-index: 2999999 !important; }

/* contextual layer */
span.openContextLayer {
	cursor: pointer;
	color: #003479; }

.leftSideNav div {
	display: block !important;
	vertical-align: baseline !important; }

.leftSideNav div.d-flex {
	display: flex !important; }

.leftSideNav div.d-inline-block {
	display: inline-block !important; }

.leftSideNav div.d-inline-flex {
	display: inline-flex !important; }

.contextual-layer-positioner {
	position: relative;
	z-index: 1;
	/* center itself relative to the parent */
	width: 1px;
	margin: 0 auto; }

.contextual-layer {
	position: absolute;
	text-align: left;
	z-index: 9000;
	border: 1px solid #a6a6a6;
	-webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #f7f7f7;
	left: 0;
	right: 0;
	width: 100%;
	min-width: 220px;
	max-width: 400px;
	padding: 10px 15px; }
.contextual-layer .tip-close {
	position: absolute;
	top: 6px;
	right: 6px; }
.contextual-layer .tip-close a {
	text-decoration: none !important; }
.contextual-layer:after {
	/* the arrow */
	content: " ";
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: #f7f7f7;
	left: 50%;
	margin-left: -7px;
	border-left: 1px solid #a6a6a6;
	border-top: 1px solid #a6a6a6;
	z-index: -1; }
.contextual-layer.above {
	bottom: 100%;
	margin-bottom: 10px; }
.contextual-layer.above:after {
	bottom: -6px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg); }
.contextual-layer.above.left:after {
	left: 10%; }
.contextual-layer.above.right:after {
	left: 90%; }
.contextual-layer.above.center:after {
	left: 50%; }
.contextual-layer.below {
	top: 100%;
	margin-top: 12px;
	margin-bottom: 15px; }
.contextual-layer.below:after {
	top: -6px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg); }
.contextual-layer.below.left:after {
	left: 10%; }
.contextual-layer.below.right:after {
	left: 90%; }
.contextual-layer.below.center:after {
	left: 50%; }
.contextual-layer.align-left {
	left: -20px; }
.contextual-layer.align-left:after {
	left: 10% !important; }

/* .row seems to be colliding with other classes in use */
.row, .grid-row {
	display: flex;
	flex-wrap: wrap; }

div[class^="grid-col-"] {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1px; }

.grid-col-1 {
	max-width: calc(100% / 12); }

.grid-col-2 {
	max-width: calc(100% / 12 * 2); }

.grid-col-3 {
	max-width: calc(100% / 12 * 3); }

.grid-col-4 {
	max-width: calc(100% / 12 * 4); }

.grid-col-5 {
	max-width: calc(100% / 12 * 5); }

.grid-col-6 {
	max-width: calc(100% / 12 * 6); }

.grid-col-7 {
	max-width: calc(100% / 12 * 7); }

.grid-col-8 {
	max-width: calc(100% / 12 * 8); }

.grid-col-9 {
	max-width: calc(100% / 12 * 9); }

.grid-col-10 {
	max-width: calc(100% / 12 * 10); }

.grid-col-11 {
	max-width: calc(100% / 12 * 11); }

.grid-col-12 {
	max-width: 100%; }

.store-layer-opener {
	display: inline-block; }

.current-store-tip {
	width: 236px;
	left: -60px;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: normal; }
.current-store-tip:after {
	left: 25% !important; }
.current-store-tip a:not(.btn-primary) {
	text-decoration: underline;
	font-weight: normal !important; }
.current-store-tip .btn-primary {
	margin: 0;
	padding: 12px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: auto;
	display: block; }
#mobile-logo-icons .current-store-tip {
	width: 236px;
	left: -118px; }
#mobile-logo-icons .current-store-tip:after {
	left: 50% !important; }

.tab-system {
	position: relative; }
.tab-system .tab-system-head {
	display: flex;
	padding: 0 15px; }
.tab-system .tab-system-head a {
	font-size: 14px;
	text-decoration: none;
	color: #003479;
	display: block;
	flex: 1 1 50%;
	padding: 10px;
	border: 1px solid #a6a6a6;
	background-color: #dddddd;
	text-align: center; }
.tab-system .tab-system-head a.tab-active {
	background-color: #ffffff;
	border-bottom: 0 none; }
.tab-system .tab-system-body {
	margin-top: -1px;
	border: 1px solid #a6a6a6;
	padding: 15px; }
.tab-system .tab-system-body .form-field-checkbox label {
	font-size: 12px;
	font-weight: normal; }

/* Select a Store Search */
.modal-select-store .form-field {
	padding-top: 15px; }

.modal-select-store #tab-body-zip #search-by-zip {
	width: 90px; }

@media only screen and (min-width: 400px) {
	.modal-select-store #tab-body-zip .form-field {
		padding-top: 50px;
		margin-left: 140px;
		margin-bottom: 25px;
		clear: right; }
	.modal-select-store #tab-body-zip .form-field:first-of-type {
		clear: none;
		margin-left: 0;
		float: left;
		width: 120px;
		padding-top: 15px; } }

.modal-select-store .btn-row {
	width: 100%;
	display: flex;
	flex-wrap: wrap; }
.modal-select-store .btn-row button, .modal-select-store .btn-row a {
	padding-top: 15px;
	padding-bottom: 15px; }
@media only screen and (max-width: 539px) {
	.modal-select-store .btn-row button {
		width: 100% !important; }
	.modal-select-store .btn-row button, .modal-select-store .btn-row a {
		margin-left: 0 !important; } }

.modal-select-store #tab-body-state .row {
	float: none;
	width: inherit;
	padding: 0;
	margin: 0;
	display: flex;
	height: inherit;
	white-space: inherit;
	margin-left: -10px; }
.modal-select-store #tab-body-state .row .grid-col-6 {
	margin-left: 10px; }
@media only screen and (max-width: 410px) {
	.modal-select-store #tab-body-state .row .grid-col-6 {
		flex-basis: 100%;
		/* force to 2 lines */
		max-width: 100%; } }

/* Select a Store Results */
.results-group-head {
	margin: 15px 0;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center; }

.results-group .results-item {
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #003479; }
.results-group .results-item .store-name {
	font-weight: bold;
	margin-bottom: 5px; }
.results-group .results-item .details-location {
	flex: 1 0 28%; }
@media only screen and (min-width: 350px) {
	.results-group .results-item .details-location {
		flex: 1 0 25%; } }
.results-group .results-item .details-location a {
	display: inline-block;
	margin-bottom: 5px; }
.results-group .results-item .result-status .msg-available {
	padding-top: 10px; }
.results-group .results-item .my-store {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #003479;
	font-weight: bold; }
.results-group .results-item .btn-primary {
	margin: 0 !important;
	width: 100% !important; }

/* paginator */
.btn-row.jsPaginatorButtons {
	width: 100%;
	display: flex; }
.btn-row.jsPaginatorButtons > .paginator-prev {
	margin-left: 0;
	flex: 0 0 48.5%;
	max-width: 48.5%; }
.btn-row.jsPaginatorButtons > .paginator-next {
	margin-left: auto;
	flex: 0 0 48.5%;
	max-width: 48.5%; }

/* PLP desktop + mobile*/
.filter-bopis .form-field .refinement-label-wrap {
	font-weight: normal; }
.filter-bopis .form-field .refinement-label-wrap > span:not(.productCount) {
	font-weight: bold; }

/* PLP desktop only*/
.leftNavColumn .filter-bopis .noarrow {
	background-color: #f7f7f7; }

.leftNavColumn .filter-bopis a {
	text-decoration: underline;
	color: #003479; }

.leftNavColumn .filter-bopis p {
	margin: 0;
	padding: 10px 0; }

.leftNavColumn .filter-bopis .form-field {
	padding-top: 3px; }
.leftNavColumn .filter-bopis .form-field > label {
	font-size: 13px; }

.filter .pickup-group-head {
	background-color: #f3f3f3;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	padding: 10px 6px;
	margin-bottom: 10px; }

#filterForm .filter.pickup-group {
	/* mobile */ }
#filterForm .filter.pickup-group .pickup-group-head {
	background-color: transparent;
	border-style: none;
	padding-left: 0;
	border-bottom: 1px solid #c7c8ca;
	font-weight: bold;
	text-transform: uppercase; }
#filterForm .filter.pickup-group .form-field {
	padding-top: 3px; }
#filterForm .filter.pickup-group label {
	background-color: inherit;
	border: 0 none;
	color: inherit;
	text-shadow: none;
	border-radius: 0; }

/* PDP */
.availability-box {
	padding: 10px 0; }
.availability-box .availability-option {
	background-color: #F2F8FD;
	margin-bottom: 5px;
	padding: 10px 20px; }
.availability-box .availability-option .label {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #272a2b; }
.availability-box .availability-option p {
	margin: 0 0 10px 0; }
.availability-box a {
	text-decoration: underline; }

/* Cart */
/* common class across all cart rows, use mainly for spacing */
.cart-row {
	/* row 1 */
	/* row 2 */
	/* the totals row below the items */ }
.cart-row .imageCol {
	width: 12%; }
.cart-row .prodDetailsCol {
	width: 28%; }
.cart-row .availabilityCol {
	width: 27.99%; }
.cart-row .quantityCol {
	width: 14%; }
.cart-row .pricesCol {
	width: 18%;
	text-align: right; }
.cart-row .prodimage {
	width: 12%;
	text-align: center; }
.cart-row .prodimage a img {
	max-width: 80%; }
.cart-row .proddetails {
	width: 28%; }
.cart-row .proddetails > span.blackTexts a {
	display: inline-block;
	margin: 10px 0; }
.cart-row .proddetails > span.blackTexts a:first-of-type {
	margin-top: 0; }
.cart-row .proddetails .stock-status {
	padding: 10px 0; }
.cart-row .availability {
	width: 27.99%; }
.cart-row .availability div[class^="bg-"] {
	margin-left: -10px;
	margin-right: -10px; }
.cart-row .cartquantity {
	width: 14%; }
.cart-row .itemprices {
	width: 18%;
	text-align: right; }
.cart-row .itemprices .itemsubtotal,
.cart-row .itemprices .itemdiscounts,
.cart-row .itemprices .itemtotal {
	display: block;
	width: auto;
	margin: 0;
	vertical-align: baseline; }
.cart-row .rowOrderInfo {
	padding-top: 10px;
	margin-left: 12%;
	width: 55.99%; }
.cart-row .cart-item-links {
	padding-top: 10px;
	width: 32%;
	text-align: right; }
.cart-row .cart-item-links .nocolorRowr-r {
	float: none;
	margin: 0; }
.cart-row .cart-item-links .nocolorRowr-r > div, .cart-row .cart-item-links .nocolorRowr-r a {
	display: inline-block; }
.cart-row .cart-item-links .nocolorRowr-r > div, .cart-row .cart-item-links .nocolorRowr-r > a {
	margin-left: 7px;
	padding-left: 7px;
	border-left: 1px solid #003479; }
.cart-row .cart-item-links .nocolorRowr-r > div:first-of-type {
	margin-left: 0;
	border-left: 0 none;
	padding-left: 0; }
.cart-row .spacerCol {
	width: 67.99%; }
.cart-row .discountsCol, .cart-row .itemquantityBottom, .cart-row .totalsavings {
	width: 14%; }
.cart-row .itemTotalCol, .cart-row .itempricesBottom, .cart-row .itemtotalBottom {
	width: 18%;
	text-align: right; }
.cart-row .itemTotalCol > div, .cart-row .itempricesBottom > div, .cart-row .itemtotalBottom > div {
	width: auto;
	display: block;
	margin: 0; }
#checkoutRightCartSummary .cart-row {
	/* Single Shipping */ }
#checkoutRightCartSummary .cart-row .imageCol {
	width: 24%; }
#checkoutRightCartSummary .cart-row .prodDetailsCol {
	width: 51.99%; }
#checkoutRightCartSummary .cart-row .pricesCol {
	width: 24%;
	text-align: right; }
#checkoutRightCartSummary .cart-row .pricesCol .Checkoutitemsubtotal,
#checkoutRightCartSummary .cart-row .pricesCol .Checkoutitemdiscounts,
#checkoutRightCartSummary .cart-row .pricesCol .Checkoutitemtotal {
	display: block;
	width: auto;
	margin: 0 0 5px 0;
	vertical-align: baseline; }
#checkoutRightCartSummary .cart-row .Checkoutprodimage {
	width: 24% !important;
	text-align: center; }
#checkoutRightCartSummary .cart-row .Checkoutprodimage a img {
	max-width: 80%; }
#orderConfirmationSummary .cart-row {
	/* Confirmation */ }
#orderConfirmationSummary .cart-row .imageCol {
	width: 11%; }
#orderConfirmationSummary .cart-row .prodDetailsCol {
	width: 20%; }
#orderConfirmationSummary .cart-row .shipPickupCol {
	width: 19.99%; }
#orderConfirmationSummary .cart-row .quantityCol {
	width: 8.5%; }
#orderConfirmationSummary .cart-row .subtotalCol {
	width: 13.5%; }
#orderConfirmationSummary .cart-row .discountCol {
	width: 13.5%; }
#orderConfirmationSummary .cart-row .totalsCol {
	width: 13.5%; }
#orderConfirmationSummary .cart-row .Checkoutprodimage {
	width: 11% !important;
	text-align: center; }
#orderConfirmationSummary .cart-row .Checkoutprodimage a img {
	max-width: 80%; }

.cartContainerRow div[class*='bg-'] div.bold, .cartContainerRow div[class*='bg-'] p {
	margin: 0 0 8px 0; }

.cartContainerRow .selected-store a {
	text-decoration: underline; }

/* both mobile and desktop cart */
.availability .avail-status {
	font-weight: bold;
	margin-bottom: 5px; }

/* modification of the .row rule from cart.css */
.cart-row-head {
	width: auto;
	margin: 15px 0px 20px 0;
	display: flex;
	white-space: nowrap;
	flex-wrap: nowrap; }
.cart-row-head > div {
	border-left: 3px solid #ffffff;
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 10px;
	min-height: 44px;
	display: block;
	flex: 0 0 auto; }
.cart-row-head > div:first-child, .cart-row-head > div.empty {
	border-left: 0 none; }

/* modification of the .rowtwo rule from cart.css */
.cart-row-item {
	width: auto;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	margin: 10px 0px 0px 0;
	display: flex;
	flex-wrap: wrap; }
.cart-row-item > div {
	padding-left: 13px;
	padding-right: 10px;
	box-sizing: border-box;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	display: block;
	float: none;
	flex: 0 0 auto; }
.cart-row-item > div:first-child {
	padding-left: 0; }

.cart-total-row {
	width: auto;
	padding-bottom: 10px;
	margin: 20px 0px 0px 0;
	display: flex;
	flex-wrap: nowrap; }
.cart-total-row > div {
	padding-left: 13px;
	padding-right: 10px;
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	display: block;
	float: none;
	flex: 0 0 auto; }

.promobox {
	width: auto !important;
	margin-right: 0 !important; }

.checkout-item-subhead {
	font-weight: bold;
	margin-bottom: 10px; }

.checkout-item-sub-subhead {
	font-weight: bold;
	margin-bottom: 5px; }

.checkout-item-data-group {
	margin-bottom: 5px; }

/*
Single Shipping
*/
#single-shipping-selection .ship-group-type {
	display: flex;
	align-items: baseline;
	padding: 15px 0 5px 0;
	margin-top: 10px; }
#single-shipping-selection .ship-group-type h2 {
	color: #003479;
	font-size: 18px;
	font-weight: bold;
	margin: 0; }
#single-shipping-selection .ship-group-type a {
	text-decoration: underline;
	margin-left: 10px; }

#single-shipping-selection .title-availability {
	font-size: 13px; }

#single-shipping-selection .accord-selection {
	width: auto;
	margin: 0; }

#single-shipping-selection .accord-title {
	color: #000000;
	font-size: 16px;
	font-weight: normal;
	display: flex; }
#single-shipping-selection .accord-title input:disabled ~ label {
	color: #a6a6a6; }

#single-shipping-selection .accord-panel {
	display: none;
	padding: 5px 20px; }
#single-shipping-selection .accord-panel a {
	text-decoration: underline; }
#single-shipping-selection .accord-panel .fourteen,
#single-shipping-selection .accord-panel .selectStyle,
#single-shipping-selection .accord-panel .addressHighlightBlock,
#single-shipping-selection .accord-panel .inputApply {
	margin-left: 0; }
#single-shipping-selection .accord-panel .addressHighlightBlock {
	padding-left: 0; }

#single-shipping-selection .active-store-wrap {
	padding: 5px 0; }
#single-shipping-selection .active-store-wrap .active-store-availability {
	padding: 10px 0; }
#single-shipping-selection .active-store-wrap .active-store {
	padding: 10px 10px 5px 0px;
	border-top: 1px solid #dddddd; }
#single-shipping-selection .active-store-wrap .active-store:first-child {
	padding-top: 5px;
	border-top: 0 none; }
#single-shipping-selection .active-store-wrap .active-pickup-info {
	padding: 5px 10px 10px 0px; }

#single-shipping-selection #singleAddressShippingMethods {
	display: none;
	margin: 30px 20px 30px 0;
	padding-top: 20px;
	border-top: 1px solid #a6a6a6; }

#single-shipping-selection .blue-button-payments {
	margin-right: 20px; }

.ship-group-message > p {
	margin-bottom: 10px; }

.ship-group-message .ship-group-options {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start; }
.ship-group-message .ship-group-options .or {
	margin: 5px auto;
	text-transform: uppercase; }
.ship-group-message .ship-group-options .fa-circle {
	color: #003479; }
.ship-group-message .ship-group-options .circled {
	display: inline-block;
	background-color: #003479;
	width: 1.2em;
	height: 1.2em;
	padding: 5px;
	margin: 0 3px;
	text-align: center;
	border-radius: 50%; }
.ship-group-message .ship-group-options .option-number {
	color: #ffffff; }
.ship-group-message .ship-group-options a {
	color: #003479;
	text-decoration: underline; }

/*
Order Confirmation
*/
#orderConfirmationSummary .areaMid .leftSideGroup > .customerservice, .orderDetailsTotalRowWrap .orderDetailsCustServWrap > .customerservice {
	display: block;
	float: none !important;
	margin: 0 !important;
	width: auto !important;
	height: auto !important;
	overflow: hidden;
	/* clearing */
	margin-bottom: 20px !important; }
#orderConfirmationSummary .areaMid .leftSideGroup > .customerservice > .orderInfo, .orderDetailsTotalRowWrap .orderDetailsCustServWrap > .customerservice > .orderInfo {
	background-color: transparent !important;
	/* no longer needed, parent has bgcolor */
	width: 50% !important;
	height: auto !important;
	margin: 0 0 15px 0 !important; }
#orderConfirmationSummary .areaMid .leftSideGroup > .customerservice > .orderInfo > .ordersTitle, .orderDetailsTotalRowWrap .orderDetailsCustServWrap > .customerservice > .orderInfo > .ordersTitle,
#orderConfirmationSummary .areaMid .leftSideGroup > .customerservice > .orderInfo > .ordersTitleTwo,
.orderDetailsTotalRowWrap .orderDetailsCustServWrap > .customerservice > .orderInfo > .ordersTitleTwo {
	margin-top: 15px !important; }
#orderConfirmationSummary .areaMid .leftSideGroup > .customerservice > .orderInfo > .orderOne, .orderDetailsTotalRowWrap .orderDetailsCustServWrap > .customerservice > .orderInfo > .orderOne {
	margin: 0 !important;
	width: auto !important; }

#orderConfirmationSummary .wrap-info-purchconfir {
	margin-left: 0;
	padding: 15px; }
#orderConfirmationSummary .wrap-info-purchconfir .rowOrderinfo {
	display: flex; }
#orderConfirmationSummary .wrap-info-purchconfir .orderNumRow {
	flex: 0 0 auto;
	width: 15%; }
#orderConfirmationSummary .wrap-info-purchconfir .orderDateRow {
	flex: 0 0 auto;
	width: 15%; }
#orderConfirmationSummary .wrap-info-purchconfir .orderBillToRow {
	flex: 0 0 auto;
	width: 35%;
	margin-left: auto;
	/* aligns right */ }

#orderConfirmationSummary .wrap-pickup-info {
	background-color: #ffffff;
	border: 2px solid #dcedfa;
	padding: 13px;
	margin-bottom: 15px; }
#orderConfirmationSummary .wrap-pickup-info p {
	margin: 0; }

#orderConfirmationSummary .areaMid {
	width: auto !important;
	margin: 30px 0 !important;
	display: flex;
	justify-content: space-between;
	align-items: flex-start; }
#orderConfirmationSummary .areaMid .leftSideGroup {
	flex: 0 0 58%;
	background-color: #f7f7f7;
	/* color the whole left side gray to ensure alignment with right col */ }
#orderConfirmationSummary .areaMid .leftSideGroup > .orderinfo {
	float: none !important;
	margin: 0 !important;
	width: auto !important;
	height: auto !important;
	border: 0 none !important;
	outline: 0 none !important;
	margin-bottom: 20px !important; }
#orderConfirmationSummary .areaMid .mainOrder {
	flex: 0 0 38%;
	margin: 0 !important;
	width: auto !important;
	height: auto !important;
	padding-top: 15px;
	padding-bottom: 15px; }

.orderDetailsTotalRowWrap {
	display: flex; }
.orderDetailsTotalRowWrap .orderDetailsCustServWrap {
	flex: 1 1 100%; }
.orderDetailsTotalRowWrap .orderDetailsCustServWrap > .customerservice {
	background-color: #f7f7f7;
	padding: 30px 0; }
.orderDetailsTotalRowWrap .orderDetailsContainerRight {
	flex: 0 0 325px;
	max-width: 325px;
	width: auto !important;
	height: auto !important;
	padding-bottom: 30px; }
