.ttv-tocart-main > span {
    font-weight: 600;
    font-size: 2rem !important;
    line-height: 2.25;
    text-decoration: underline;

}
.header .quickcart-wrapper .block-quickcart .block-content-quickcart .quickcart-bottom-container .actions.action-viewcart >div.secondary > a.viewcart {
    text-decoration: none !important;
}
