.lpChatSurveySectionQdesc {
    display:inline-block;
}
.lpQuestionNumber {
    width:16px;
    float:left;
    margin:3px;
}
.lpQuestionText {
    float:left;
    width:310px;
    padding-left:3px;
    padding-top:3px;
}
.lpRequiredTxt {
    display:inline-block;
    float:left;
    margin-top:3px;
}

.lpAnserOptionsDesc {
    width:90%;
}

.lpSubAnswerText {
    margin-left:26px;
    float:left;
    width:310px;
}

.lpAnswerOptions textarea {
    width:293px;
    margin-left:3px;
}

.lpAnswerOptions select {
    margin-left:3px;
}

.lpRequiredTxt {
    display:none;
}

.lpQuestionRequired {
    color:red;
}

#lpSurveyQuestionsContainer .lpAnswerOptions {
    margin-left:23px;
}