/* colours names from http://chir.ag/projects/name-that-color */

._3FH1HTU3P0 {
  position: relative; }

._3Mpu1CrvXE {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    ._3Mpu1CrvXE {
      position: relative;
      bottom: auto;
      top: 0; } }
  ._3Mpu1CrvXE ._3JqLFg0S9r {
    max-width: 1364px;
    margin: 0 auto;
    position: relative;
    padding: 16px;
    padding-left: 48px;
    line-height: 1.4rem; }
    ._3Mpu1CrvXE ._3JqLFg0S9r:before {
      content: '';
      position: absolute;
      height: 44px;
      width: 44px;
      display: inline-block;
      left: 4px;
      top: 4px;
      background-repeat: no-repeat;
      background-position: 12px; }
    ._3Mpu1CrvXE ._3JqLFg0S9r span {
      display: block; }
    ._3Mpu1CrvXE ._3JqLFg0S9r ._2tqTB-DdER {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
      margin-top: 0;
      letter-spacing: normal;
      text-transform: uppercase;
      font-family: DINNextLTPro-MediumCondensed, DINNextLTPro-MediumCond, Impact, "Arial Narrow Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      display: inline-block;
      margin-top: 4px;
      text-decoration: none; }
    ._3Mpu1CrvXE ._3JqLFg0S9r ._3ntJ1JxmGl {
      position: absolute;
      right: 4px;
      height: 44px;
      width: 44px;
      top: 4px;
      padding-top: 8px;
      padding-right: 8px;
      background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuNSA2LjA4NkwxMi44MDMuNzgybDEuNDE1IDEuNDE1TDguOTE0IDcuNWw1LjMwNCA1LjMwMy0xLjQxNSAxLjQxNUw3LjUgOC45MTRsLTUuMzAzIDUuMzA0LTEuNDE1LTEuNDE1TDYuMDg2IDcuNS43ODIgMi4xOTcgMi4xOTcuNzgyIDcuNSA2LjA4NnoiIGZpbGw9IiMyRDJEMkQiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat center center; }

._2mqO4qScRW,
._1dL-QPwaes {
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }
  @media only screen and (min-width: 768px) {
    ._2mqO4qScRW,
    ._1dL-QPwaes {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%); } }
  ._2mqO4qScRW._95Y0qxUC7i, ._2mqO4qScRW._xucXfUZvC,
  ._1dL-QPwaes._95Y0qxUC7i,
  ._1dL-QPwaes._xucXfUZvC {
    transition: 300ms -webkit-transform ease-in-out;
    transition: 300ms transform ease-in-out;
    transition: 300ms transform ease-in-out, 300ms -webkit-transform ease-in-out;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
    @media only screen and (min-width: 768px) {
      ._2mqO4qScRW._95Y0qxUC7i, ._2mqO4qScRW._xucXfUZvC,
      ._1dL-QPwaes._95Y0qxUC7i,
      ._1dL-QPwaes._xucXfUZvC {
        -webkit-transform: translateY(0);
                transform: translateY(0); } }

._1FY8beP1nP {
  -webkit-transform: translateY(0);
          transform: translateY(0); }
  @media only screen and (min-width: 768px) {
    ._1FY8beP1nP {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }
  ._1FY8beP1nP.DzIE3YQvrr {
    transition: 300ms -webkit-transform ease-in-out;
    transition: 300ms transform ease-in-out;
    transition: 300ms transform ease-in-out, 300ms -webkit-transform ease-in-out;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
    @media only screen and (min-width: 768px) {
      ._1FY8beP1nP.DzIE3YQvrr {
        position: relative;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%); } }

._25NtnY_JUD {
  background-color: #cceede; }

._1hfZQcMKAz {
  background-color: #fae7ec; }
  ._1hfZQcMKAz ._3JqLFg0S9r:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDJhOCA4IDAgMSAwIDAgMTYgOCA4IDAgMCAwIDAtMTZ6bTAgMThDNC40NzcgMjAgMCAxNS41MjMgMCAxMFM0LjQ3NyAwIDEwIDBzMTAgNC40NzcgMTAgMTAtNC40NzcgMTAtMTAgMTB6bS0xLTd2Mmgydi0ySDl6bTItNVY1SDl2M2wxIDQgMS00eiIgZmlsbD0iI0QwMTM0NSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+); }

._3hXpe0t8br {
  background-color: #ffebcc; }
  ._3hXpe0t8br ._3JqLFg0S9r:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDIwQzQuNDc3IDIwIDAgMTUuNTIzIDAgMTBTNC40NzcgMCAxMCAwczEwIDQuNDc3IDEwIDEwLTQuNDc3IDEwLTEwIDEwem0wLTE4YTggOCAwIDEgMCAwIDE2IDggOCAwIDAgMCAwLTE2ek05IDguNTA1aDJ2Nkg5di02ek05IDZjMC0uNTQ4LjQ1Mi0xIDEtMXMxIC40NTIgMSAxLS40NTIgMS0xIDEtMS0uNDUyLTEtMXoiIGZpbGw9IiNGRjlDMzIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==); }

