/* colours names from http://chir.ag/projects/name-that-color */

._230hsONo2i {
  width: 100%;
  padding: 4px; }
  ._230hsONo2i._30RCTXcxDt {
    background-color: #2d2d2d;
    color: #ffffff; }
    ._230hsONo2i._30RCTXcxDt:hover {
      background-color: #000; }
    ._230hsONo2i._30RCTXcxDt:disabled {
      border: 2px solid #ddd;
      background-color: #ddd; }
  ._230hsONo2i._1YIOEr9PGn {
    border: 2px solid #2d2d2d;
    background-color: #ffffff; }
    ._230hsONo2i._1YIOEr9PGn:hover {
      background-color: #eee;
      color: #2d2d2d; }
    ._230hsONo2i._1YIOEr9PGn:disabled {
      border: 2px solid #ddd;
      background-color: #ffffff;
      color: #ddd; }
  ._230hsONo2i.focus-visible {
    outline-offset: 4px;
    box-shadow: 0 0 4px 2px #ff33c7; }
  ._230hsONo2i:focus-visible {
    outline-offset: 4px;
    box-shadow: 0 0 4px 2px #ff33c7; }
  ._230hsONo2i span {
    line-height: 1;
    margin-bottom: calc((1em * 0.2) * -1);
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: DINNextLTPro-MediumCondensed, DINNextLTPro-MediumCond, DINNextLTPro-MediumCondensed, DINNextLTPro-MediumCond, Impact, "Arial Narrow Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: block; }

._2nsTAG9hXQ {
  min-height: 32px; }

.AdwMWEDGXU {
  min-height: 44px; }

._3X4qk7S0vQ {
  min-height: 48px; }

/* colours names from http://chir.ag/projects/name-that-color */

._191dAx9weF {
  padding: 16px;
  background-color: #2d2d2d;
  color: #ffffff;
  position: fixed;
  left: 8px;
  right: 8px;
  bottom: 8px;
  z-index: 1;
  margin: auto;
  max-width: 375px; }
  @media only screen and (min-width: 768px) {
    ._191dAx9weF {
      top: 20vh;
      bottom: unset; } }

._2IaUfbpLx0 {
  width: 33%; }

._35GZ5KuyeA {
  line-height: 1rem;
  margin-bottom: 12px; }

.qiaOsUBERQ {
  display: block;
  margin-bottom: 12px; }

/* colours names from http://chir.ag/projects/name-that-color */

._13gMmEEcvd {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 0;
  letter-spacing: normal;
  text-transform: none;
  font-family: inherit;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 16px 12px;
  overflow-anchor: none; }
  @media only screen and (min-width: 1024px) {
    ._13gMmEEcvd {
      padding-left: 32px; } }

.i12hvMDQ28 {
  line-height: normal;
  margin-bottom: 0; }
  .i12hvMDQ28 a {
    text-decoration: none; }
  .i12hvMDQ28:last-child {
    color: #999; }
    .i12hvMDQ28:last-child :after {
      display: none; }
  .i12hvMDQ28:not(:last-of-type):after {
    content: '\203A';
    display: inline-block;
    margin: 0 8px; }

/* colours names from http://chir.ag/projects/name-that-color */

._1ZbrJCfd6D {
  display: flex;
  flex-direction: column-reverse;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
  @media only screen and (min-width: 768px) {
    ._1ZbrJCfd6D {
      flex-direction: column;
      border: none; } }

