/* colours names from http://chir.ag/projects/name-that-color */

.VPqDjPIanJ {
  margin: 0; }

.Fx_-hIdGDW {
  padding: 12px;
  max-width: 1364px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #eee; }
  @media only screen and (min-width: 768px) {
    .Fx_-hIdGDW {
      padding: 32px; } }

._2k3Ph2ObKl {
  display: block;
  margin-bottom: 4px; }
  @media only screen and (min-width: 768px) {
    ._2k3Ph2ObKl {
      margin-bottom: 12px; } }

._1WXTdnNp_7 {
  overflow: hidden;
  height: 1.5rem; }
  ._1WXTdnNp_7._1aAk8LG5aB {
    overflow: unset;
    height: auto; }
    ._1WXTdnNp_7._1aAk8LG5aB ._2HvFyE88zK {
      height: auto;
      overflow: unset;
      white-space: normal;
      margin-bottom: 8px; }

._2HvFyE88zK {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 8px; }
  ._2HvFyE88zK:not(._2ucO5i-BPp) {
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1.5rem;
    overflow: hidden;
    padding: 0 16px; }
  @media only screen and (min-width: 768px) {
    ._2HvFyE88zK:not(._2ucO5i-BPp) {
      height: 2.5rem;
      white-space: normal;
      margin-bottom: -20px; } }

._2eytG7OpE4 {
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: DINNextLTPro-MediumCondensed, DINNextLTPro-MediumCond, DINNextLTPro-MediumCondensed, DINNextLTPro-MediumCond, Impact, "Arial Narrow Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding-top: 12px;
  color: inherit;
  position: relative; }
  ._2eytG7OpE4:before, ._2eytG7OpE4:after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    position: absolute;
    left: 42%; }
  ._2eytG7OpE4:before {
    display: none; }
  ._2eytG7OpE4:after {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgMTAgNyI+CiAgICA8cGF0aCBmaWxsPSIjMkQyRDJEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01IDMuNDE0TDcuODI4LjU4NiA5LjI0MyAyIDUgNi4yNDMgMy41ODYgNC44MjguNzU3IDIgMi4xNzIuNTg2IDUgMy40MTR6Ii8+Cjwvc3ZnPgo=) no-repeat; }
  ._2eytG7OpE4._3LPl2zMstV:before {
    display: block;
    top: 0;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgMTAgNyI+CiAgICA8cGF0aCBmaWxsPSIjMkQyRDJEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01IDMuNTg2bDIuODI4IDIuODI4TDkuMjQzIDUgNSAuNzU3IDMuNTg2IDIuMTcyLjc1NyA1bDEuNDE1IDEuNDE0TDUgMy41ODZ6Ii8+Cjwvc3ZnPgo=) no-repeat; }
  ._2eytG7OpE4._3LPl2zMstV:after {
    display: none; }
  @media only screen and (min-width: 768px) {
    ._2eytG7OpE4:before, ._2eytG7OpE4:after, ._2eytG7OpE4._3LPl2zMstV:before {
      display: none; } }

.zUkbVAecQC {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 1.38em);
  width: 100%;
  padding-top: 20px;
  display: inline-block; }
  .zUkbVAecQC._2ucO5i-BPp {
    padding-top: 0;
    background: transparent; }

._2ucO5i-BPp {
  min-height: 20px;
  height: auto;
  white-space: initial; }

._1dRDRqJ4Wy {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 0;
  letter-spacing: normal;
  text-transform: none;
  font-family: inherit;
  display: block;
  color: #767676;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  font-family: DINNextLTPro-Regular; }

.bjfPCYcWuB {
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }
  .bjfPCYcWuB::-webkit-scrollbar {
    display: none; }
  @media only screen and (min-width: 768px) {
    .bjfPCYcWuB {
      height: 32px; } }

.Df_Q7IQp_u {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

._5wXESiM86O {
  float: left;
  font-size: 0.875rem;
  margin-right: 4px;
  line-height: inherit;
  width: auto; }
  ._5wXESiM86O a,
  ._5wXESiM86O p {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
    margin-top: 0;
    letter-spacing: 0.875px;
    text-transform: uppercase;
    font-family: DINNextLTPro-MediumCondensed, DINNextLTPro-MediumCond, Impact, "Arial Narrow Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: block;
    padding: 6px 8px 2px;
    border-radius: 8px;
    background: #f6f6f6;
    text-decoration: none; }
  ._5wXESiM86O p {
    background-color: #2d2d2d;
    color: #ffffff;
    margin-bottom: 0; }
  ._5wXESiM86O:last-of-type {
    margin-right: 0; }

/* colours names from http://chir.ag/projects/name-that-color */

._3QhWCZ_qwp {
  background-color: #f6f6f6;
  line-height: 0;
  margin-top: -16px; }

._1jCdogRlas {
  display: flex;
  flex-wrap: wrap;
  max-width: 1364px;
  margin: auto; }

.zWJdGiVJV6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 768px) {
    .zWJdGiVJV6 {
      flex: 0 0 50%; } }

/* colours names from http://chir.ag/projects/name-that-color */

._2CglPDZjV_ {
  position: relative;
  background-color: #2d2d2d; }
  ._2CglPDZjV_ img {
    transition: opacity ease 0.25s; }
  ._2CglPDZjV_:hover img {
    opacity: 0.75; }

._2f9bhklSnF {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white; }

.YXbX2i98Wp {
  margin: 0;
  font-style: italic;
  display: block;
  padding-top: 8px;
  font-size: 2.25rem;
  line-height: 2.25rem; }
  @media only screen and (min-width: 768px) {
    .YXbX2i98Wp {
      font-size: 3.5rem;
      line-height: 3.75rem; } }

@media only screen and (min-width: 768px) {
  ._3vd5RMZWGF {
    font-size: 1.25rem; } }

/* colours names from http://chir.ag/projects/name-that-color */

._1dZgOEliBM {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  text-indent: -9999px; }

._2-nJL8p4B2 {
  position: fixed;
  top: 16px;
  right: 16px; }
  @media only screen and (min-width: 768px) {
    ._2-nJL8p4B2 {
      top: 5%;
      right: 10%; } }
  @media only screen and (min-width: 1364px) {
    ._2-nJL8p4B2 {
      right: 20%; } }

.bB0J1Eu3Z2 {
  padding: 12px 20px;
  background: #cceede;
  color: #00aa5b; }
  .bB0J1Eu3Z2:hover {
    background: #b9e8d2; }
  .bB0J1Eu3Z2:active {
    background: #93dbb9;
    color: #007740; }

.jAdNMmJtX9 {
  color: #ffffff;
  -moz-tab-size: 1rem;
    -o-tab-size: 1rem;
       tab-size: 1rem;
  background: #2d2d2d;
  overflow: auto;
  padding: 2rem 1rem; }

.N01TC5jUgy {
  font-size: 0.75rem;
  line-height: 1rem;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0 auto;
  max-width: 1364px; }
  @media only screen and (min-width: 768px) {
    .N01TC5jUgy {
      font-size: 0.875rem;
      line-height: 1.5rem; } }
  .N01TC5jUgy ::-moz-selection {
    background-color: #ffffff;
    color: #2d2d2d; }
  .N01TC5jUgy ::selection {
    background-color: #ffffff;
    color: #2d2d2d; }

._1AZNT1fnbM {
  background: none;
  color: #ffffff; }

/* colours names from http://chir.ag/projects/name-that-color */

/* colours names from http://chir.ag/projects/name-that-color */

.n10zyDY9y5 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px; }

._2pftLsA_Aq {
  width: calc(50% - 4px);
  flex: 0 0 auto;
  margin: 0 2px 4px; }
  @media only screen and (min-width: 768px) {
    ._2pftLsA_Aq {
      width: calc(33.33333% - 4px);
      flex: 0 0 auto;
      margin: 0 2px 4px; } }
  @media only screen and (min-width: 1024px) {
    ._2pftLsA_Aq {
      width: calc(25% - 4px);
      flex: 0 0 auto;
      margin: 0 2px 4px; } }

._35xeqrlAra {
  height: 100px;
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: none; }

.ljrEAuyAP2 {
  border: 1px solid #ddd;
  padding: 12px; }
  .ljrEAuyAP2 p {
    margin: 0; }

._1nQNF4lJSm {
  text-transform: uppercase; }

/* colours names from http://chir.ag/projects/name-that-color */

._2n9ux3Rr30 {
  border: 1px solid #999;
  width: calc(100% - 4px);
  flex: 0 0 auto;
  margin: 0 2px 4px;
  margin-bottom: 16px; }
  @media only screen and (min-width: 1024px) {
    ._2n9ux3Rr30 {
      width: calc(50% - 4px);
      flex: 0 0 auto;
      margin: 0 2px 4px;
      margin-bottom: 24px; } }

._3tsrXRt4l8 {
  display: flex;
  flex-wrap: wrap; }

._27zs00yGh_,
._1SyAX9J2I8 {
  width: calc(50% - 4px);
  flex: 0 0 auto;
  margin: 0 2px 4px;
  padding: 8px; }
  ._27zs00yGh_ p:last-of-type,
  ._1SyAX9J2I8 p:last-of-type {
    margin: 0; }

._1SyAX9J2I8 {
  border-left: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  margin-right: -4px;
  margin-bottom: 0; }
  ._1SyAX9J2I8 * {
    font-size: 0.875rem;
    line-height: 1rem;
    margin-bottom: 8px; }

._1SDeRgfjf6 {
  padding: 8px;
  border-top: 1px solid #999;
  font-size: 0.875rem;
  line-height: 1rem; }

/* colours names from http://chir.ag/projects/name-that-color */

._1QuwFTAUZn {
  max-width: 1364px;
  padding: 32px 16px;
  margin: 0 auto; }

._2_QhEqb9qu {
  max-width: 600px;
  padding-top: 40px;
  margin-bottom: 80px; }

._4GfjKVm5p6 {
  font-size: 1.2em;
  padding-bottom: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid #767676; }

._2yEa45w6RB {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px; }

._3Or0NFaJ1F {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 0;
  letter-spacing: normal;
  text-transform: none;
  font-family: inherit; }

code {
  font-size: 0.875em;
  color: #767676;
  padding: 4px;
  background-color: #f6f6f6; }

/* colours names from http://chir.ag/projects/name-that-color */

._3ZYiur2UzV {
  width: calc(50% - 4px);
  flex: 0 0 auto;
  margin: 0 2px 4px; }
  @media only screen and (min-width: 768px) {
    ._3ZYiur2UzV {
      width: calc(33.33333% - 4px);
      flex: 0 0 auto;
      margin: 0 2px 4px; } }
  @media only screen and (min-width: 1024px) {
    ._3ZYiur2UzV {
      width: calc(25% - 4px);
      flex: 0 0 auto;
      margin: 0 2px 4px; } }

.gMsWWZQffa {
  width: 100%;
  border: none; }

