* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  list-style-type: none;
  border: none;
}

@font-face {
    font-family: montserrat-reg;
    src: url('//ads.rd.linksynergy.com/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: montserrat-bold;
    src: url('//ads.rd.linksynergy.com/fonts/Montserrat-Bold.ttf') format('truetype');
}

#ad {
  background-image: url("images/300x250.png");
  background-size: contain;
  opacity: 0;
  -webkit-animation: fadeIn 0s linear .35s 1 forwards;
  -moz-animation: fadeIn 0s linear .35s 1 forwards;
  -o-animation: fadeIn 0s linear .35s 1 forwards;
  animation: fadeIn 0s linear .35s 1 forwards;
}

#intro {
  position: absolute;
  background-image: url(images/intro.png);
  background-color: #2093ea;
  background-size: contain;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 90;
}

#lifestyle {
  position: absolute;
  background-image: url(images/lifestyle.png);
  background-size: contain;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 80;
}

.box {
  position: absolute;
  background-color: #2093ea;
}

#b1 {
  width: 160px;
  height: 55px;
  top: 26px;
  left: 160px;
}

#b2 {
  width: 164px;
  height: 29px;
  top: 82px;
  left: 166px;
}

#b3 {
  width: 160px;
  height: 22px;
  top: 109px;
  left: 190px;
}

#b4 {
  width: 300px;
  height: 92px;
  top: 8px;
  left: 0px;
}

#b5 {
  width: 300px;
  height: 154px;
  top: 100px;
  left: 0px;
}

#logo {
  background-image: url("images/logo.png");
  position: absolute;
  top: 226px;
  width: 90px;
  height: 15px;
  background-size: 90px;
  background-repeat: no-repeat;
  left: 195px;
}

/*<----------Nav Arrows---------->*/

.nav_arrows {
  position: absolute;
  top: 107px;
  left: 75px;
  z-index: 6;
}

.nav_arrows li {
  position: absolute;
  top: 0px;
}

.nav_arrows li.nav_previous {
  left: 0px;
  background: url('images/arrows.png') 0 0;
}

.nav_arrows li.nav_next {
  left: 269px;
  background: url('images/arrows.png') 34px 0;
}

.nav_arrows li a {
  overflow: hidden;
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 0px;
  height: 48px;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 35px;
}

#cta {
  position: absolute;
  top: 204px;
  left: 10px;
  width: 130px;
  font-family: montserrat-reg;
  color: #fff;
  font-size: 10px;
  text-align: center;
  z-index: 4;
  /*! letter-spacing: 1px; */
  background-color: #271066;
  border-radius: 6px;
  /*! height: 37px; */
  padding: 5px;
}

#enrolltoday {
  font-size: 13px;
  /*! font-weight: 700; */
  padding-left: 1px;
  letter-spacing: 0.4px;
  font-family: montserrat-bold;
}

/*<----------feed items---------->*/

#main_feed {
  position: absolute;
  top: 8px;
  height: 189px;
  width: 450px;
  margin-left: -77px;
}

.viewport {
  overflow: hidden;
  width: 100%;
  height: 189px;
  left: -4px;
}

.item {
  float: left;
  position: relative;
  width: 180px;
  height: 100%;
}

.items {
  width: 180px;
  position: relative;
  top: -6px;
}

.item_info {
  position: absolute;
  text-align: center;
  color: #fff;
  line-height: 16px;
  top: 0px;
  width: 300px;
  height: 72px;
  opacity: 0;
  margin-left: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-animation: fadeOut .25s linear 0s 1 forwards;
  -moz-animation: fadeOut .25s linear 0s 1 forwards;
  -o-animation: fadeOut .25s linear 0s 1 forwards;
  animation: fadeOut .25s linear 0s 1 forwards;
}

.item_name_box {
  display: flex;
  height: 50%;

}

.item_name {
  position: relative;
  font-size: 10px;
  font-weight: 500;
  color: #999999;
  /*! top: 10px; */
  width: 159px;
  font-family: montserrat-bold;
  align-self: center;
  left: 13px;
}

.item_brand::before {
  content: "Start learning from \A";
  white-space: pre-wrap;
}

.item_brand {
  position: relative;
  font-size: 14px;
  color: #ffffff;
  font-family: montserrat-bold;
}

.item_image {
  text-align: center;
  overflow: hidden;
  border: solid 2px #e6e9ed;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .30);
  -webkit-animation: shrink .25s linear 0s 1 forwards;
  -moz-animation: shrink .25s linear 0s 1 forwards;
  -o-animation: shrink .25s linear 0s 1 forwards;
  animation: shrink .25s linear 0s 1 forwards;
  position: relative;
  top: 90px;
  height: 89px;
}



.item_fallback img {
  position: absolute;
  z-index: 10;
  margin-top: -51px;
  width: 99px;
  height: 100px;
  margin-left: -49px;
}

.item_rating {

  color: #727272;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 50px;
  position: relative;
  top: 6px;

}

.item_total {
  position: relative;
  color: #727272;
  font-size: 11px;
  line-height: 28px;
  top: -9px;
}

.item_total::after {
  content: " ratings";
}

.item_stars {
  position: relative;
  opacity: .5;
  height: 15px;
  background-repeat: no-repeat;
  text-align: center;
  top: -10px;
}

.item_stars img {
  text-align: center;
}




.items_viewport.active .item_name {
  color: #271066;
}

.items_viewport.active .item_rating {
  background: #1e93ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.items_viewport.active .item_stars {
  opacity: 1;
  position: absolute;
  opacity: .5;
  height: 15px;
  background-repeat: no-repeat;
  text-align: center;
  top: 44px;
  width: 100px;
  left: 80px;
}

.items_viewport.active .item_stars {
  opacity: 1;
}

.items_viewport.active .item_total {
  color: #271066;
  position: absolute;
  font-size: 10px;
  line-height: 28px;
  top: 56px;
  width: 100px;
  left: 80px;
  font-family: montserrat-bold;
}

.items_viewport.active .item_info {
  opacity: 0;
  -webkit-animation: fadeIn .25s linear .25s 1 forwards;
  -moz-animation: fadeIn .25s linear .25s 1 forwards;
  -o-animation: fadeIn .25s linear .25s 1 forwards;
  animation: fadeIn .25s linear .25s 1 forwards;
}

.items_viewport.active .item_image {
  -webkit-animation: grow .25s linear 0s 1 forwards;
  -moz-animation: grow .25s linear 0s 1 forwards;
  -o-animation: grow .25s linear 0s 1 forwards;
  animation: grow .25s linear 0s 1 forwards;
  height: 90px;
  width: 181px;
  /*! left: -45px; */
  border: solid 2px #1E93EA;
  position: relative;
  top: 87px;
  background: #ffffff;
}


.items_viewport.active .item_rating {
  color: #727272;
  font-size: 43px;
  font-family: montserrat-bold;
  font-weight: bold;
  line-height: 50px;
  top: 35px;
  position: absolute;

  left: 11px;
}



@-webkit-keyframes grow {
  0% {
    transform: scale(.75);
  }

  100% {
    transform: scale(1);
  }
}

@-moz-keyframes grow {
  0% {
    transform: scale(.75);
  }

  100% {
    transform: scale(1);
  }
}

@-o-keyframes grow {
  0% {
    transform: scale(.75);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(.75);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.75);
  }
}

@-moz-keyframes shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.75);
  }
}

@-o-keyframes shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.75);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.75);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
