.shop-save-for-later .appContainer .save-for-later-save {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
.shop-save-for-later .appContainer .save-for-later-save img {
  padding-right: 5px;
}
.shop-save-for-later .appContainer button.save-for-later-save {
  color: #0046be;
}
.shop-save-for-later .appContainer .custom-lists .btn.btn-sm {
  height: 20px;
  margin: 0px;
  padding: 0;
  font-weight: 400;
}
.shop-save-for-later .appContainer .c-modal-grid {
  padding: 20px;
}
.shop-save-for-later .appContainer .custom-lists-modal .form-view label {
  word-break: break-word;
}
.shop-save-for-later .appContainer .custom-lists-modal .modal-title {
  font-weight: 500;
  padding-bottom: 5px;
  font-size: 20px;
}
.shop-save-for-later .appContainer .custom-lists-modal .create .modal-body {
  background-color: #f4f6f9;
  padding: 10px 5px;
}
.shop-save-for-later .appContainer .custom-lists-modal .create .modal-body .form-actions {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.shop-save-for-later .appContainer .custom-lists-modal .create .modal-body .form-actions .btn.btn-sm {
  height: 18px;
  padding: 0 10px;
  font-weight: 400;
}
.shop-save-for-later .appContainer .custom-lists-modal .create .modal-body .form-actions .form-action-divider {
  border-left: 1px solid #0046be;
  height: 13px;
  margin-top: 4px;
}
.shop-save-for-later .appContainer .custom-lists-modal .view legend {
  border: none;
  color: #000;
  margin: 10px;
  font-size: 17px;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .sub-title {
  font-size: 17px;
  line-height: 20px;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .modal-body .form-group {
  margin: 0 10px;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .modal-body .form-actions-top {
  display: flex;
  justify-content: flex-start;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .modal-body .form-actions-top .btn.btn-sm {
  font-weight: 400;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .modal-body .form-actions-top i {
  font-size: 12px;
  margin-right: 10px;
  color: #1D252C;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .modal-body .form-actions-bottom {
  display: flex;
  justify-content: flex-start;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .modal-body .form-actions-bottom.confirmation {
  margin-top: 20px;
  justify-content: center;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .modal-body .form-actions-bottom .item-added-confirmation {
  font-weight: 500;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .modal-body .form-actions-bottom .item-added-confirmation i {
  color: green;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .modal-body .form-action-error {
  margin: 0 10px;
  font-size: 15px;
  font-weight: 500;
}
.shop-save-for-later .appContainer .custom-lists-modal .view .modal-body .form-action-error i {
  margin-right: 3px;
}
.shop-save-for-later .appContainer .save-for-later .lv .sign-in-container {
  margin-left: 12px;
}
.shop-save-for-later .appContainer .save-for-later .lv .modal-title {
  margin-left: 12px;
}
.shop-save-for-later .appContainer .save-for-later .lv .sub-title {
  margin-left: 11px;
}
.shop-save-for-later .appContainer .save-for-later .lv .modal-body .form-group.form-create {
  margin: 0 7px;
}
.shop-save-for-later .appContainer .save-for-later .lv .modal-body .form-group.form-view {
  margin: 0 11px;
}
.shop-save-for-later .appContainer .save-for-later .lv .modal-body .form-group label {
  margin-bottom: 8px;
}
.shop-save-for-later .appContainer .save-for-later .lv .modal-body .btn.btn-sm {
  padding: 0 12px;
}
.shop-save-for-later .appContainer .save-for-later .lv .modal-body .form-actions-bottom {
  margin: 10px;
}
.shop-save-for-later .appContainer .save-for-later .sv .modal-title {
  margin-left: 0;
}
.shop-save-for-later .appContainer .save-for-later .sv .view .sub-title {
  margin-left: 0;
}
.shop-save-for-later .appContainer .save-for-later .sv .view .modal-body .form-group {
  padding: 0;
  margin: 0;
}
.shop-save-for-later .appContainer .save-for-later .sv .view .modal-body .form-actions-top .btn.btn-sm {
  padding: 0;
}
.shop-save-for-later .appContainer .save-for-later .sv .view .form-actions-bottom {
  margin-top: 15px;
}
.shop-save-for-later .appContainer #save-for-later-tooltip {
  z-index: 100;
  min-width: 210px;
}
.shop-save-for-later .appContainer #save-for-later-tooltip p {
  margin: 0;
}
.shop-save-for-later .appContainer .c-close-icon {
  top: 5px;
}
.shop-save-for-later .appContainer .ficon-confirm {
  color: #318000;
  font-size: 17px;
  margin-bottom: 10px;
}
.shop-save-for-later .appContainer span.ficon-confirm {
  margin-right: 5px;
}
.shop-save-for-later .appContainer .tooltip-success {
  display: flex;
  color: #318000;
  white-space: nowrap;
  font-weight: 500;
}
.shop-save-for-later .appContainer .ficon-alert-triangle {
  color: #bb0628;
  font-size: 17px;
  margin-bottom: 10px;
}
.shop-save-for-later .appContainer span.ficon-alert-triangle {
  margin-right: 5px;
}
.shop-save-for-later .appContainer .tooltip-error {
  display: flex;
  white-space: nowrap;
  font-weight: 500;
}
.shop-save-for-later .appContainer .tooltip-icon {
  margin-right: 5px;
}


/*# sourceMappingURL=client-c8db2c33d5fd81b02ff16cb8c659e496.css.map*/