/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ff-basic-gothic-pro:
 *   - http://typekit.com/eulas/00000000000000003b9b04d5
 *   - http://typekit.com/eulas/00000000000000003b9b04d6
 *   - http://typekit.com/eulas/00000000000000003b9b04d7
 * freight-macro-pro:
 *   - http://typekit.com/eulas/00000000000000000001777a
 *   - http://typekit.com/eulas/00000000000000000001777b
 *   - http://typekit.com/eulas/00000000000000000001777c
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-02-06 16:15:13 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=tqs5hqo&ht=tk&f=25688.25689.25690.8823.8824.8825&a=7955085&app=typekit&e=css");

@font-face {
font-family:"freight-macro-pro";
src:url("https://use.typekit.net/af/eeca02/00000000000000000001777a/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/eeca02/00000000000000000001777a/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/eeca02/00000000000000000001777a/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"freight-macro-pro";
src:url("https://use.typekit.net/af/73b15e/00000000000000000001777b/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/73b15e/00000000000000000001777b/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/73b15e/00000000000000000001777b/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"freight-macro-pro";
src:url("https://use.typekit.net/af/1526e5/00000000000000000001777c/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/1526e5/00000000000000000001777c/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/1526e5/00000000000000000001777c/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"ff-basic-gothic-pro";
src:url("https://use.typekit.net/af/578d2a/00000000000000003b9b04d5/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/578d2a/00000000000000003b9b04d5/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/578d2a/00000000000000003b9b04d5/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"ff-basic-gothic-pro";
src:url("https://use.typekit.net/af/0ee551/00000000000000003b9b04d6/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/0ee551/00000000000000003b9b04d6/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/0ee551/00000000000000003b9b04d6/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"ff-basic-gothic-pro";
src:url("https://use.typekit.net/af/81d167/00000000000000003b9b04d7/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/81d167/00000000000000003b9b04d7/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/81d167/00000000000000003b9b04d7/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

.tk-freight-macro-pro { font-family: "freight-macro-pro",serif; }
.tk-ff-basic-gothic-pro { font-family: "ff-basic-gothic-pro",sans-serif; }
