
.CoveoSearchInterface {
    background-color: #f4f4f2 ;
    min-width:0;
}

.coveo-tab-section {
    background-color: transparent ;
    border-bottom: none ;
    min-height: 1px ;
}

.coveo-facet-header {
    background: transparent ;
    clear: both ;
    overflow: hidden ;
    border-top-left-radius: 4px ;
    border-top-right-radius: 4px ;
    background-color: transparent ;
    border: none ;
    color: #231f1f ;
    cursor: pointer ;
    font-size: 0.16px ;
    font-weight: 700 ;
    outline: none ;
    padding: 5px ;
    text-align: left ;
    text-transform: uppercase ;
    transition: 0.4s ;
    width: 100% ;
    padding-top: 15px ;
    font-family: Effra ;
}

.CoveoFacet,
.CoveoFacetRange,
.CoveoFacetSlider,
.CoveoHierarchicalFacet {
    margin: 10px 0px 10px 0px ;
    padding: 0 ;
    border: none ;
    border-radius: 4px ;
    background: transparent ;
    position: relative ;
    padding: 0 5px ;
    background-color: transparent ;
    overflow: hidden ;
}
/*.coveo-facet-value .coveo-facet-value-checkbox {
	border: 2px solid #c8c9c8 ;
	background: #ffffff ;
	border-radius: 5px ;
}*/

.coveo-selected.coveo-facet-value .coveo-facet-value-checkbox {
    border: 2px solid #026937 ;
    background: #4dc77a ;
	border-radius: 5px;

}
.coveo-facet-value .coveo-facet-value-checkbox {
    
    border: 1px solid #BCC3CA;
    border-radius: 5px;
}
/*.coveo-selected.coveo-facet-value .coveo-facet-value-checkbox span {
	background-position: -1581px -51px ;
}
.coveo-facet-value .coveo-facet-value-checkbox span:hover,
.coveo-facet-value:hover .coveo-facet-value-checkbox span {
	background-position: -1581px -51px ;
}*/
.coveo-selected.coveo-facet-value .coveo-facet-value-checkbox > span:before {
	/*font: normal normal normal 12px/1.1 'Glyphicons Halflings' ;
    content: '\e013' ;*/
}
/*.coveo-selected.coveo-facet-value label {
     font-weight: inherit; 
}*/
.CoveoSearchInterface .coveo-main-section {
    margin-left: auto ;
    margin-right: auto ;
    position: relative ;
    max-width: 1322px ;
    width: 100% ;
    padding-right: 22px ;
    padding-left: 22px ;
}
/*.CoveoSearchInterface .coveo-facet-column {
    display: block ;
    float: left ;
    margin-right: 0% ;
    width: 25% ;
    padding: 5px 11px ;
}
.CoveoSearchInterface .coveo-results-column {
	width: 75% ;
	padding-right: 11px ;
	padding-left: 11px ;
    float: left ;
    overflow: visible ;
}*/
.CoveoResult {
    border-bottom: 0px solid #BCC3CA ;
    margin: 0px 0px 0px 0px ;
    position: relative ;
}
.coveo-results-header {
    padding: 0px 0px 0px 0px ;
    min-height: 1px ;
    overflow: hidden ;
    box-shadow: 0 0px 0px 0px #BCC3CA inset ;
}
.coveo-facet-values {
    padding: 0px 5px ;
    margin-bottom: 20px ;
}
.coveo-facet-value {
    padding: 0px ;
}
#coveo-center-column,
#coveo-center-column .CoveoSearchInterface {
    background-color: #f4f4f2 ;
}
.coveo-results-header .coveo-summary-section {
    display: block ;
	    padding-top: 19px;
	margin-left:30px;
}
.CoveoResultList {
     margin-top: 0; 
 
}
.CoveoQuerySummary {
    color: #231f1f;
}
.CoveoQueryDuration {
    color: #231f1f;
}
.coveo-facet-header-title {
    font-size: 15px ;
	width: 100%;
	color:#231f1f;
}
.coveo-facet-header-title:after {
	/*content: "\f068" ;*/
	content:url(/assets/Images/icons/collapse.png);
  
    float: right ;

    width: 0;

    margin-top: -2px;
}
	/*background-image:url(/assets/Images/icons/expand.png);*/
 
.coveo-facet-header-title.active:after {
	/*content: "\f067" ;*/
	content:url(/assets/Images/icons/expand.png);
} 
.coveo-facet-value-caption {
  /*font-size: 14px ;*/
  font-weight: normal;
}
.coveo-selected > .coveo-facet-value-label > .coveo-facet-value-label-wrapper > .coveo-facet-value-count{
	font-weight:bold;
}
.coveo-selected > .coveo-facet-value-label > .coveo-facet-value-label-wrapper > .coveo-facet-value-caption{
	font-weight:bold;
}

.coveo-facet-value-label > .coveo-facet-value-label-wrapper > .coveo-facet-value-count, .coveo-facet-value-caption{
	font-weight:normal;
}
.coveo-facet-value-label > .coveo-facet-value-label-wrapper > .coveo-facet-value-caption{
	font-weight:normal;
}
.coveo-facet-value-count{
	font-weight: unset;
}
/*.coveo-facet-value-count:after{content:")"}
.coveo-facet-value-count:before{content:"("}*/
.coveo-facet-value.coveo-selected {
    font-weight: bold ;
}

.coveo-facet-value-exclude,
/*.coveo-facet-value.coveo-facet-selectable.coveo-facet-search-button,*/
.coveo-facet-header-settings,
/*.CoveoBreadcrumb,
.CoveoBreadcrumb .coveo-breadcrumb-items,
.coveo-facet-header-eraser span,*/
/*.coveo-sort-section */
.CoveoSort{
	display:none;
}
.input-lg {
    height: 35px;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 0;
}
select.input-lg {
    height: 35px;
    line-height: 35px;
}
select.input-lg option:hover {
    /*background-color:red;
	color:red;*/
}
/*option:hover {
color: green;
background: red;
}*/
.coveo-facet-header-eraser.coveo-facet-header-eraser-visible {
    visibility: visible;
    right: 35px;
}
.coveo-facet-header-eraser span
{
  display: none ;
}
.CoveoBreadcrumb {
  overflow: visible ;
  padding: 0 ;
  border: 0 ;
}
.coveo-facet-breadcrumb-value.coveo-selected *, .coveo-facet-slider-breadcrumb-value.coveo-selected * {
    color: #13B049;
}
.coveo-facet-breadcrumb-title, .coveo-facet-slider-breadcrumb-title {
    color: #231f1f;
    margin-right: 14px;
}
.CoveoBreadcrumb .coveo-breadcrumb-clear-all {
     position: absolute;
    left: 100px;
    border: 0;
    padding: 0;
    color: #231f1f;
    font-size: 14px;
    margin-top: -35px;
}
.CoveoBreadcrumb .coveo-breadcrumb-clear-all .coveo-icon.coveo-breadcrumb-icon-clear-all {
  /*display: none ;*/
}
.CoveoBreadcrumb .coveo-breadcrumb-clear-all > div:after {
  content: "All"
}
/*.coveo-facet-header-eraser {
    position: absolute ;
    top: 36px ;
    width: 100px ;
    height: auto ;
    color: #231f1f ;
    background: none ;
    text-indent: 0 ;
    font-size: 12px ;
    text-transform: capitalize ;
}
.coveo-facet-header-eraser:hover,
.coveo-facet-header-eraser:focus {
  background: none ;
  color: #231f1f ;
  font-size: 12px ;
  width: auto ;
  height: auto ;
  text-align: left ;
  text-indent: 0 ;
  text-transform: capitalize ;
}*/
/*Searchbox*/

div#NavSearchBox > .CoveoSearchbox .magic-box {
     border: none;
    border-radius: 5px;
}
div#NavSearchBox{
border-radius: 5px;	
}
div#NavSearchBox > .CoveoSearchbox {
    border-radius: 5px;
}
div#NavSearchBox > .CoveoSearchbox > .CoveoSearchButton >  .coveo-icon {
     /*background-image: url(/assets/Images/icons/magnifying-glass.png); search*/
	 background-image: url(/assets/Images/icons/search.png); 
}
div#NavSearchBox > .CoveoSearchbox .magic-box .magic-box-input {
    height: 30px;
	border-radius: 7px;
}
div#NavSearchBox > .CoveoSearchbox > a.CoveoSearchButton{
	height: 27px;
	width:35px;
    border: none;
    border-radius: 0;
    margin-top: 2px;
    margin-right: 5px;
	background-color:#ffffff;
    display: block;
    z-index: 1;
}
div#NavSearchBox > .CoveoSearchbox > a.CoveoSearchButton:hover{
	background-color:#ffffff;
}
div#NavSearchBox > .CoveoSearchbox > .CoveoOmnibox.magic-box > .magic-box-input input {
    height: 32px;
    margin-top: 3px;
	border-radius:5px;
}
div#NavSearchBox > .CoveoSearchbox .magic-box .magic-box-clear {
    height: 30px;
	margin-right: -6px;
	line-height: 32px;
}	
.CoveoSearchbox .magic-box .magic-box-input {
    border-radius: 2px;
    /*border-top: 1px solid #BCC3CA;*/
}
.magic-box.magic-box-notEmpty .magic-box-clear {
    width: 48px;
    
}
.CoveoSearchInterface .coveo-facet-column {
    width: 220px;
    padding: 5px 0px;
}
.coveo-facet-header-wait-animation {
    position: absolute ;
    right: 70px ;
}
.coveo-facet-header-eraser:before {
  content: "Clear" ;
  text-transform: capitalize ;
}
.coveo-facet-header {
  margin-bottom: 15px ;
}
.CoveoFacet,
.CoveoFacetRange.psp-facet-range,
.CoveoFacet.psp-rating {
	border-bottom: 1px solid #fff ;
}
.coveo-facet-more, .coveo-facet-less {
    width: 100% ;
    height: auto ;
    background: none ;
    cursor: pointer ;
    text-align: left ;
}
.coveo-facet-more:hover, .coveo-facet-less:hover {
    background: none ;
}
.coveo-facet-more .coveo-icon,
.coveo-facet-less .coveo-icon {
  background: none ;
  width: auto ;
  height: auto ;
}
.coveo-facet-more .coveo-icon:before {
  content: "And More..." ;
  font-size: 14px ;
  font-weight: 400 ;
  color: #231f1f ;
}
.coveo-facet-less .coveo-icon:before {
  content: "And Less..." ;
  font-size: 14px ;
  font-weight: 400 ;
  color: #231f1f ;
}
.coveo-facet-footer {
  background: none ;
}
.coveo-facet-values {
    padding: 0px 5px 0px 11px ;
    margin-bottom: 0px ;
}
.coveo-facet-value:hover {
    background-color: transparent ;
}
.collapse-facet {
	float: right ;
	font-size: 13px ;
    color: #777 ;
}
.collapse-facet .fa {
	font-size: 13px ;
    color: #777 ;
}
.CoveoFacetRange.psp-facet-range {
    display: none ;
}
.CoveoFacetRange.psp-facet-range .coveo-facet-value-label-wrapper,
.CoveoFacet.psp-rating .coveo-facet-value-label-wrapper {
	visibility: hidden ;
}
.CoveoFacet.psp-rating .upRating {
    display: inline-block ;
    font-size: 13px ;
    position: absolute ;
    top: -1px ;
    left: 80px ;
    font-weight: normal ;
}
.CoveoFacetRange.psp-facet-range .rating,
.CoveoFacet.psp-rating .rating {
  position: absolute ;
  left: 0 ;
  top: 0 ;
  display: inline-block ;
}
.CoveoFacetRange.psp-facet-range .rating .empty-stars,
.CoveoFacet.psp-rating .rating .empty-stars {
  color: #dfe0df ;
}
 
.CoveoFacet.psp-rating .coveo-facet-value.coveo-selected .rating .filled-stars {
  color: #009f3b ;
}
.CoveoFacetRange.psp-facet-range .rating .filled-stars,
.CoveoFacet.psp-rating .rating .filled-stars {
  color: #f9be00 ;
  position: absolute ;
  left: 0 ;
  display: inline-block ;
  overflow: hidden ;
}
.coveo-main-section .categories-home-header {
    padding-top: 35px ;
    padding-bottom: 30px ;
}
.coveo-tab-section {
  min-height: 1px ;
}
.CoveoFacet.psp-facet-color .coveo-facet-values li label div {
    display: none ;
}
.CoveoFacet.psp-facet-color .coveo-facet-values li {
    display: inline-block ;
    padding-right: 5px ;
    padding-left: 5px ;
    margin-bottom: 5px ;
}
.CoveoFacet.psp-facet-color .coveo-facet-values li label {
    border-radius: 100% ;
    border: 2px solid #c6c6c6 ;
    width: 24px ;
    height: 24px ;
}
.CoveoFacet.psp-facet-color .coveo-facet-values li.coveo-selected label {
    box-shadow: 0 0 5px #000 ;
}
.coveo-facet-value-label.Iridescent-label {
    background: url(../image/Iridescent.jpg) no-repeat center center ;
}
.coveo-facet-value-label.multi-label {
    background: url(../image/multicolor.png) no-repeat center center ;
}
.coveo-loading-spinner {
    position: fixed ;
    top: 0 ;
    left: 50% ;
}



.CoveoSearchInterface {
    font-family: Effra ;
    color: #231f1f ;
}
.searchbox-container{

    max-width: 910px;
    margin: auto;
}
.CoveoSearchbox .CoveoSearchButton {
   
    background-color: #13B049;
}
/*.CoveoSearchButton:hover > .coveo-icon {
	
}*/	
.CoveoSearchButton > .coveo-icon {
    vertical-align: middle;
    animation: none;
     background-image: url(/assets/Images/icons/magnifying-glass.png); 
	 /*background-image: url(/assets/Images/icons/search.png); */
	 width: 22px;
     height: 22px; 
	 background-size: contain;
	 text-indent: 22px;
	 background-position: 0 0;
}
 .coveo-sprites-main-search-active, .CoveoSearchButton:hover > .coveo-icon {
   background-image: url(/assets/Images/icons/magnifying-glass.png);
	 width: 22px;
     height: 22px; 
	 background-size: contain;
	 text-indent: 22px;
	 background-position: 0 0;
    text-indent: 22px; }
	 .coveo-executing-query .CoveoSearchButton > .coveo-icon, .coveo-executing-query .CoveoSearchButton:hover > .coveo-icon, .CoveoFollowItem.coveo-follow-item-loading:before {
  background-image: url(/assets/Images/icons/reload.png);
	 width: 22px;
     height: 22px; 
	 background-size: contain;
	 text-indent: 22px;
	 background-position: unset;
    text-indent: 22px; }
.CoveoSearchInterface .CoveoSearchbox.nav-search {
    height: auto ;
    padding: 0px 0px ;
}
.CoveoSearchInterface .magic-box .magic-box-input input {
    padding: 0 ;
    font-family: Effra ;
    color: #231f1f ;
}
.coveo-omnibox-result-list-header {
    padding: 12px 20px 0 ;
}
.coveo-omnibox-result-list-header .coveo-icon-omnibox-result-list {

}
.coveo-omnibox-result-list-header .coveo-caption,
.coveo-top-field-suggestion-header .coveo-caption {
    font-family: Effra ;
    font-size: 12px ;
    text-transform: uppercase ;
    font-weight: 600 ;
    text-align: left ;
    color: #212121 ;
}
.coveo-top-field-suggestion-header {
    padding: 12px 20px 0 ;
}
.magic-box-suggestion.coveo-top-field-suggestion-row {
    padding-left: 25px ;
    font-size: 15px ;
}
.coveo-omnibox-selectable.coveo-top-field-suggestion-row:before {
    content: "\f0da" ;
    font-family: FontAwesome ;
    margin-right: 8px ;
}
.search-Products-list.CoveoResult.coveo-omnibox-selectable {
    font-family: Effra ;
    color: #231f1f ;
    padding: 10px 20px 10px 20px ;
}
.search-Products-list.CoveoResult.coveo-omnibox-selectable .search-product-tile .prod-img {
    border: 2px solid #f4f4f4 ;
    width: 94px ;
    height: 102px ;
    padding: 5px ;
    overflow: hidden ;
    text-align: center ;
}
.search-Products-list.CoveoResult.coveo-omnibox-selectable .search-product-tile .prod-details {
    font-family: Effra ;
}
.search-Products-list.CoveoResult.coveo-omnibox-selectable .search-product-tile .prod-details .caption {
    font-family: Effra ;
}
.search-Products-list.CoveoResult.coveo-omnibox-selectable .search-product-tile .prod-details .caption a {
    font-family: Effra ;
    font-size: 15px ;
}
.search-Products-list.CoveoResult.coveo-omnibox-selectable .search-product-tile .prod-details .caption p {
    font-family: Effra ;
    font-size: 18px ;
}
.search-Products-list.CoveoResult.coveo-omnibox-selectable .search-product-tile .prod-details .caption .advert {
    font-family: Effra ;
}
.search-Products-list.CoveoResult.coveo-omnibox-selectable .search-product-tile .prod-details .text-muted {
    font-family: Effra ;
    font-size: 18px ;
}
.CoveoFacetRange.psp-facet-range .coveo-facet-value.coveo-selected .rating .filled-stars {
    color: #00af41 ;
}
.coveo-facet-value.coveo-facet-selectable.coveo-facet-search-button > .coveo-facet-value-label > .coveo-facet-value-label-wrapper > .coveo-facet-value-caption{
	color:#13B049;
}
.coveo-logo {
	display:none;
  /*background-image: url("/Assets/Images/logo-footer.png");
  background-position: 0 0; /* You need to reset this because the animation uses a sprite to display the default logo. */
  /*background-size: 300px 26px;  /* There are several options for background-size depending on the file you use (see https://developer.mozilla.org/en-US/docs/Web/CSS/background-size). */
  /*background-repeat: no-repeat;*/
}
.search-navigation-reset-container {
    display: table-cell;
    width: 35px;
    height: 45px;
}
.search-navigation-reset{
 
	display:none;
	
}
#store-name{
	font-weight:bold;
}
.coveo-results-header > *:last-child {
    padding-right: 15px;
 
}

.search-navigation-reset.active {
	   display: inline-grid;
	background-image:url('/assets/images/double-left-chevron.png');
    width: 16px;
    height: 16px;
    padding-bottom: 4px;
	pointer:hand;
}
.search-navigation-reset {
    width: 45px;
    height: 55px;
    line-height: 55px;
}


.pager-container{
	display: table-cell;
    
    height: 45px;
}
.CoveoPager{
   
	margin-left: -5px;
	
}
.coveo-pager-next.coveo-pager-anchor.coveo-pager-list-item:hover{
	background-color:transparent;
}
.coveo-pager-previous.coveo-pager-anchor.coveo-pager-list-item:hover{
	background-color:transparent;
}


.coveo-pager-next.coveo-pager-anchor.coveo-pager-list-item,.coveo-pager-previous.coveo-pager-anchor.coveo-pager-list-item{
	border:none;
	}
.coveo-pager-list-item, .coveo-results-per-page-list-item {
    border: 1px solid #13B049;
    vertical-align: baseline;
    color: #13B049;
}
.CoveoPager ul li > a {
    color: #13B049;
}
.coveo-pager-list-item.coveo-active a, .coveo-active.coveo-results-per-page-list-item a, .coveo-pager-list-item:hover a, .coveo-results-per-page-list-item:hover a{
    color: #ffffff;
}
.coveo-pager-list-item.coveo-active{
    background-color: #13B049;
}
 .coveo-pager-list-item:hover, .coveo-results-per-page-list-item:hover{
    background-color: #13B049;
}
	@media (max-width: 480px)
	 {
		 .coveo-results-header .coveo-summary-section {
			margin-left: 47px;
		}
		.coveo-list-layout.CoveoResult {
			margin: 20px 0 20px 0 !important;
		}

	.coveo-results-header > *:last-child {
      margin-left: 0;
      margin-bottom: 0;
      padding-right: 20px;
      margin-left: auto;
      margin-right: 0;
	}
	.coveo-main-section .categories-home-header {
     padding-top: 0; 
     padding-bottom: 0; 
	}
	.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header-wrapper a, .CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header-wrapper a, .CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header-wrapper a {
		margin-right: 20px;
	}
}
@media (min-width: 1200px){
.col-lg-4 {
    width: 252px;
  }
}
@media (max-width: 1199px) {

}
@media (max-width: 992px) {
    .CoveoBreadcrumb .coveo-breadcrumb-clear-all {
        left: -20% ;
    }

    .categories-home-header .sort-order .coveo-tab-section a.coveo-dropdown-header {
        margin: 0 ;
        padding: 13px 20px ;
        display: inline-block ;
        border: 0 ;
        color: #555 ;
        font-size: 15px ;
        height: auto ;
        text-transform: capitalize ;
        text-align: center ;
        float: right ;
    }
    .categories-home-header .sort-order .coveo-tab-section {
         background: none ;
         margin-top: 0px ;
         overflow: hidden ;
    }
    /*.CoveoSearchInterface .coveo-results-column {
        width: 100% ;
    }*/
	.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header-wrapper, .CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header-wrapper, .CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header-wrapper {
        color: #231f1f;
       margin-top: 15px;
	   /*display:none;*/
}
.coveo-dropdown-background {
    background: #00af41;
}
.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header, .CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header, .CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header{
	color: #231f1f;
}

    .coveo-small-facets .coveo-facet-column.coveo-facet-dropdown-content {
        background: #fff repeat 0 0 ;
        width: 100% ;
        left: 0px ;
        padding: 0 16px ;
		
    }
    .coveo-facet-dropdown-background {
        background: rgba(0, 0, 0, 0.9) repeat 0 0 ;
    }
}
@media (max-width: 767px) {
    .categories-home-header .sort-order .coveo-tab-section {
         background: none ;
         margin-top: 6px ;
    }
    .categories-home-header .sort-order .coveo-tab-section a.coveo-dropdown-header {
        margin: 0 ;
        padding: 13px 20px ;
        display: block ;
        border: 0 ;
        color: #555 ;
        font-size: 15px ;
        height: auto ;
        text-transform: capitalize ;
        text-align: left ;
        float: none ;
    }
    .categories-home-header select.input-lg {
        margin-top: 6px ;
    }
    .CoveoSearchInterface .coveo-results-column {
        width: 100% ;
        padding-right: 0;
        padding-left: 0 ;
    }
    .CoveoSearchInterface.coveo-small-interface .CoveoSearchbox {
    	margin-right: 0;
		margin-top: 10px;
	}
    .CoveoBreadcrumb .coveo-breadcrumb-clear-all   {
        /*display: none ;*/
		margin-right: 0;
		margin-top: 10px;
    }
    .coveo-dropdown-header.coveo-facet-dropdown-header p {
        display: none ;
    }
 
    .coveo-facet-dropdown-background {
        background: rgba(0, 0, 0, 0.9) repeat 0 0 ;
    }
    .coveo-small-facets .coveo-facet-column.coveo-facet-dropdown-content {
        background: #fff repeat 0 0 ;
        width: 100% ;
        left: 0px ;
        padding: 0 16px ;
    }
    .CoveoFacet.psp-facet-color .coveo-facet-values {
        overflow: hidden ;
    }
    .CoveoFacet.psp-facet-color .coveo-facet-values li {
        float: left ;
    }
	
}
@media (max-width: 550px) {
    .col-xs-6.CoveoResult,
    .CoveoResult .col-xs-6 {
        width: 100% ;
    }
}


/*Migration Coveo 2018*/
.coveo-list-layout.CoveoResult {
    border-bottom: none;
    margin: 20px 0px 20px 20px;
}

.coveo-result-list-container .prod-rating,.product-description-container .rating .text-muted {
    cursor: pointer;
}

.coveo-result-list-container .rating-container .rating, .product-description-container .rating-container .rating {
    cursor: pointer;
}

.coveo-recommendation-body{
	padding-right: 10%;
	padding-left: 10%;
	border: none;

}


/* Coveo Recommentations  */

  #CoveoRecommendations .CoveoResult {
 	border-radius: 6px;
  min-height: 320px;
  padding: 0;
  margin: 10px;
  box-shadow: 4px 4px 5px #ddd;
  border: none;
  }

  #CoveoRecommendations {
  	border: none;
  }

  /* Product Recommendations */ 

.CoveoRecommendation{
	border: 1px solid rgb(210,210,210);
	border-radius: 4px;
}

.CoveoRecommendation .coveo-card-layout.CoveoResult {
	border: 0px solid rgb(210,210,210);
	color: rgb(35,35,35)
}

.recommendation-item-container{
	margin: 10px;
}

.coveo-card-layout.CoveoResult .recommendation-item-container a {
	color: #009DDC;
}

.recommendation-item-container:hover{
	cursor:pointer;
	text-decoration: underline;
}
.recommendation-item-container:hover .CoveoResultLink{
	text-decoration: underline;
}

.coveo-recommendation-header{
	background-color: #00AF43;
}

.coveo-recommendation-title{
	color: white;
	text-align: center;
	font-size: 12pt;
}

.recommendation-price{
	font-size: 12pt;
	font-weight: 500;
	color: rgb(30,30,30)
}