@charset "UTF-8";

body, body * {
    vertical-align:baseline;
    border:0 none;
    outline:0;
    padding:0;
    margin:0;
    background-repeat:no-repeat;
    font-smooth: always;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 1px transparent;
}
div{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

sup, sub {
    font-size: 10px;
    vertical-align: baseline;
    position: relative;
    top: -8px;
}
sub { 
    top: 4px; 
}

ft-dynamic{
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0) scale(1.0, 1.0);
}

#container {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:1px solid #000;
    cursor:pointer;
    width:728px;
    height:90px;
    left:0px;
    top:0px;
    overflow: hidden;
}

#loading{
    position: absolute;
    top:0px;
    left:0px;
}

#content {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    color:#00558d;
}

#exitBtn {
    visibility:visible;
    background-color: #000;
    opacity:0;
    width:100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
}

.bg_colorContainer{
	overflow: hidden;
}

#vortex{
    position: absolute;
    top:0px;
    left: 0px;
}


/* STEPS */

.step{
    position:absolute;
}

#step1, #step2, #step3, #step4, #step5, #step6{
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

#copyTxt1, #copyTxt2, #copyTxt3, #copyTxt4, #copyTxt5, #copyTxt6, #copyTxt7, #copyTxt8, #copyTxt9{
    position: relative;
    font-weight: 500;
    font-size: 20px;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0) scale(1.0, 1.0);
    text-align: center;
    margin-bottom: 0px;
    min-height: 25.3px;
}

#copyTxt4, #copyTxt5, #copyTxt6, #copyTxt7, #copyTxt8, #copyTxt9{
  font-weight: 500;  
}

.textWrapper {
    top: 0px;
    height: 101px;
    width: 100%;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0) scale(1.0, 1.0);
}

.textWrapper .divText {
    position: relative;
}

.imageWrapper {
    top: 0px;
    width: 100%;
    height: 213px;
}

/* ENDFRAME */

/* PRICEPOINT */

#pricepointWrapper{
    position: absolute;
    width: 364px;
    height: 85px;
    top: 0px;
}
.legalWrapper2 {
    position: absolute;
    top: 75px;
    width: 364px;
    height: 10px;
    text-align: center;
}
#innerPricepointWrapper{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -4px;
}
#lookupWrapper{
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
}
#lookupWrapper .lookup{
    width: 100%;
    position: absolute;
}

#pricepointWrapper .pricepointAlign{
    text-align: center;
    display: inline-block;
}
#pricepointWrapper #pricepointAlignFirstBlock{
    margin-right: 20px;
}
#pricepointWrapper .pricepointAlign #price{
    display: inline-block;
}

#productNameWrapper{
    height:79px;
    position:absolute;
    width: 100%;
}

#productNameTxt2{
    font-weight: 300;
    margin-bottom: 1.5px;
    font-size: 11px;
    text-align: center;
    line-height: 17.5px;
    margin-left: 3.3px;
}


#productNameTxt1{
    font-size: 32px;
    text-align: center;
    margin-bottom: 12.5px;
    font-weight: 700;
}

#price{
    font-size: 52px;
    text-align: center;
    font-weight: 400;
}

#price .inline{
    display: inline-block;
    vertical-align: top;
}

#textPriceDollars{
    font-size: 40px;
    margin-top: -14.85px;
    text-align: center;
    margin-left: -12.1px;
    font-weight: 500;
}
#txtCentsGroup{
    font-size: 15.75px;
    text-align: left;
    margin-left: -12.375px;
    margin-top: -7.7025px;
    font-weight: 700;
}
#mos{
    margin-top: 0px;
    font-size: 12.5625px;
    font-weight: 300;
}

#dollarSign{
    font-size: 15.25px;
    margin-top: -8px;
    text-align: right;
    font-weight: 500;

}
#termsTxt1, #termsTxt2{
    font-size: 10px;
    margin-top: -35px;
    font-weight: 400;
}
#termsTxt2{
    margin-top: -3px;
}

#priceQualifierTxt{
    font-weight: 300;
    margin-left: 0px;
    text-align: center;
    font-size: 12.51px;
    margin-bottom: 7.5px;
    line-height: 17.52px;
    margin-top: -7px;
}
#priceQualifierTitle{
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
    line-height: 19.52px;
    margin-left: 5px;
    font-size: 17px;
}
.legalWrapper{
    position: absolute;
    top: 52px;
    width: 100%;
    height:30px;
}


.legalTxt {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    text-align: center;
    bottom: 0px;
}


hr{
    margin-top: 7px;
    border-top: 1px solid white;
}

#copyTxt13{
    font-size: 13px;
}
#copyTxt14{
    font-size: 36px;
    font-weight: 700;
    margin-top: -7.2px;
}
#copyTxt15{
    font-size: 13px;
     margin-top: -7.8px;
}



/* FOOTER */
#webbugs{
    position:absolute;
    width: 126px;
    top:0px;
    left:0px;
}
#webbugs .webbug{
    text-align: center;
    display: inline-block;
    color:#004784;
    font-size: 11px;
    line-height: 12px;
    position:absolute;
    width:100%;
    height:auto;
}

#cta img{
    display: block;
}

#logo{
    position: absolute;
    top: 32px;
    left: 622px;
}
#logo2{
    position: absolute;
    top: 32px;
    left: 515px; 
}

#bulletTxt1, #bulletTxt2, #bulletTxt3{
    font-size: 17px;
}

/* HELPERS */

.divImage{
    position:absolute;
    top:0px;
    left:0px;
}

.divImage img{
    max-width: 100%;
}

.footerWrapper{
    position: absolute;
    height: 85px;
    top: 0px;
    width: 35%;
    left: 333px;
}

#ctaButtonImg {
    position: absolute;
    top: 0;
	left:0;
    width: 132px;
    height: 42px;
    background-color: transparent;
    text-align: center;
    margin-top: 5px;

}

#cta {
    position: absolute;
    top: 5px;
	left:0px;
    width: 90px;
	height: 42px;
    background-color: transparent;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
	color: #285a93;
    text-align: center;
	margin:0 auto;
	padding-left:21px;
	padding-right:21px;
	padding-top:7px;
}

#cta img {
    display: block;
}

.wrapperButton{
    position: absolute;
    right: 21px;
    max-width: 50%;
}
.wrapperBrand{
    position: absolute;
    left: 16px;
    max-width: 52%;
}

#divTextCta{
    margin-top: 0px;
    font-weight: 500;
    font-size: 10px;

}

.divText{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    font-size: 22px;
    line-height: 25.3px;
    text-align: center;
}

#ctaSheenGroup{
    position:absolute;
    top:0px;
    left:0px;
}



/**
 * Align left middle
 */
.alm{
    top:50%;
    -moz-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
/**
 * Align center middle
 */
.acm{
    top:50%;
    left:50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/**
 * Align botom
 */
.alb{
    top: auto;
    bottom: 0px;
    width: 94%;
    left:3%;
}

/**
 * Full wrapper
 */
.fullWrapper{
    position:absolute;
    width:94%;
    left:3%;
    top:0px;
    height: 100%;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0) scale(1.0, 1.0);
}

