

/*  Removing left margin on PDP snippet */
.p-w-r {
  font-family: inherit;
  color: #3f000b;
  margin: 0;
}

.p-w-r :focus,
.p-w-r a:focus {
  box-shadow: 0 0 0.3125rem #9d432c;
}

.p-w-r span {
  color: #3f000b;
}

.p-w-r a,
.p-w-r .pr-read-review a,
.p-w-r .pr-review-display a {
  color: #3f000b;
  font-size: 1rem;
  text-decoration: underline;
}

.p-w-r a:focus,
.p-w-r a:hover {
  color: #9d432c;
}

.p-w-r h1,
.p-w-r h2,
.p-w-r h3,
.p-w-r h4,
.p-w-r h5,
.p-w-r h6,
.p-w-r label,
.p-w-r .pr-header-title {
  font-family: 'GT-Walsheim-Bold';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #3f000b;
}

.p-w-r p {
  color: #3f000b;
}

.p-w-r label {
  text-transform: none;
}

.p-w-r .pr-btn-fileinput,
.p-w-r .pr-accessible-btn.pr-btn-default,
.p-w-r .thank-you-page .header a {
  font-family: 'Milton';
  text-transform: uppercase;
  border: 0.125rem solid #e03c31;
  background-color: #e03c31;
  border-radius: 0;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  color: #fff;
  -webkit-appearance: initial;
  transition: all 0.3s ease;
}

.p-w-r .thank-you-page .header a {
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
}

.p-w-r .thank-you-page .header a:hover {
  color: #e03c31;
  background-color: #fff;
  border-color: #e03c31;
}

.open > .p-w-r .pr-btn.dropdown-toggle,
.p-w-r .pr-btn.active,
.p-w-r .pr-btn:active,
.p-w-r .pr-btn:focus,
.p-w-r .pr-btn:hover {
  border: 0.125rem solid #e03c31;
  background-color: #fff;
  color: #e03c31;
}

.p-w-r .pr-btn-fileinput svg {
  display: none;
}

.p-w-r .form-control {
  border: 1px solid #cfbdb3;
  border-radius: 0;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #3f000b;
  padding: .75rem 1.25rem;
  height: auto !important;
}

.p-w-r .form-control:focus {
  border-color: #3f000b;
  box-shadow: none;
}

.p-w-r .form-control::placeholder{
  color: transparent;
}

.p-w-r .pr-header {
  border: none;
}

.p-w-r .pr-header-prooduct-name {
  color: #9d432c;
}

/* Setting container width on PR Write page */
#pr-write {
    max-width: 37.5rem;
    margin: 0 auto 3rem;
}

#pr-war-form {
  padding: 2.5rem;
  background-color: #fffceb;
}

/* Setting top margin on PR Snippet and PR Question Container */
#pr-reviewsnippet,
#pr-questionsnippet {
	margin-bottom: 0.9375rem;
}

.p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-read-and-write a, 
.p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a {
  padding-right: 0;
  margin-right: 0;
}

/* Removing top margin on PR review and write snippet */
.p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-read-and-write {
  margin-top: 0;
  color: #3f000b;
}

/* Overriding float on definition list items */
#pr-review-snapshot dl dt,
#pr-review-snapshot dl dd,
.p-w-r .pr-qa-display-questionlist dt,
.p-w-r .pr-qa-display-questionlist dd {
	float: none;
	margin-top: 0;
}

/* Overriding padding on PR snapshot ul */
.p-w-r .pr-review-snapshot .pr-ratings-histogram {
	padding: 0;
}

/* Overriding left padding on QA definition list  */
.p-w-r .pr-qa-display-answer-link-container,
.p-w-r .pr-qa-display-answer {
	padding-left: 0;
}

/* Overriding bottom positioning on QA subscript  */
.pr-qa-display-item-details .pr-subscript {
	bottom: auto;
}

/* Overriding clear on Review details More Details */
.p-w-r .pr-rd-review-tag {
	clear: none;
}

/* Overriding float on Review tag definition list */
.p-w-r .pr-rd-review-tag dt {
	float: none;
}

.p-w-r .pr-snippet-stars {
  background: transparent;
}

/* Override display table cell on product tiles */
.product-tile .p-w-r .pr-snippet-stars {
  background: none;
}
.product-tile .p-w-r .pr-category-snippet__item {
  display: block;
  text-align: center;
}
.product-tile .p-w-r .pr-category-snippet__total.pr-category-snippet__item {
  display: none;
}

#pr-reviewdisplay .p-w-r .pr-review-snapshot {
  background: none;
}

.p-w-r .pr-review-display .pr-review {
  margin-left: 0.9375rem;
}
.p-w-r .pr-review-snapshot .pr-review-snapshot-block {
  background: #fff;
}
.p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-main-footer {
  margin: 0 15px;
}

.pwr-review-block {
  min-height: 46px;
}

.product-detail .primary-details .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-stars-reco-stars .pr-snippet {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 64.0625rem) {
  .product-detail .primary-details .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-stars-reco-stars .pr-snippet {
    flex-direction: row;
    align-items: center;
  }
}

.p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
  display: none;
}

/* Override Star Defaults */
/* Set base defaults, Set Font Awesome */

.p-w-r .pr-star-v4-0-filled,
.p-w-r .pr-star-v4-25-filled,
.p-w-r .pr-star-v4-50-filled,
.p-w-r .pr-star-v4-75-filled,
.p-w-r .pr-star-v4-100-filled,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-0-filled, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-25-filled, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-50-filled, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-75-filled, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-100-filled, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-half, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-selected, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-0-filled, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-25-filled, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-50-filled, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-75-filled, 
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-100-filled {
  position: relative;
  font-family: 'FontAwesome';
  background: transparent;
  font-size: 1.25rem;
  color: #3f000b;
  margin-right: 3px;
  padding: 0;
}

.p-w-r .pr-star-v4-0-filled:before,
.p-w-r .pr-star-v4-25-filled:before,
.p-w-r .pr-star-v4-50-filled:before,
.p-w-r .pr-star-v4-75-filled:before,
.p-w-r .pr-star-v4-100-filled:before,
.p-w-r .pr-star-v4-0-filled:after,
.p-w-r .pr-star-v4-25-filled:after,
.p-w-r .pr-star-v4-50-filled:after,
.p-w-r .pr-star-v4-75-filled:after,
.p-w-r .pr-star-v4-100-filled:after,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star:before,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-0-filled:before,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-25-filled:before,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-50-filled:before,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-75-filled:before,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-100-filled:before,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-half:before,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-selected:before,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4:before,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star:after,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-0-filled:after,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-25-filled:after,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-50-filled:after,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-75-filled:after,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-100-filled:after,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-half:after,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-selected:after,
.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '\f005';
}

.p-w-r .pr-star-v4-0-filled:before,
.p-w-r .pr-star-v4-25-filled:before,
.p-w-r .pr-star-v4-50-filled:before,
.p-w-r .pr-star-v4-75-filled:before,
.p-w-r .pr-star-v4-100-filled:before {
  color: #3f000b;
  z-index: 1;
}

.p-w-r .pr-star-v4-0-filled:after,
.p-w-r .pr-star-v4-25-filled:after,
.p-w-r .pr-star-v4-50-filled:after,
.p-w-r .pr-star-v4-75-filled:after,
.p-w-r .pr-star-v4-100-filled:after {
  color: #cfbdb3;
  z-index: 0;
}


/* Write Review Form Overrides */
#pr-write .p-w-r .pr-star-v4-0-filled,
#pr-write .p-w-r .pr-star-v4-25-filled,
#pr-write .p-w-r .pr-star-v4-50-filled,
#pr-write .p-w-r .pr-star-v4-75-filled,
#pr-write .p-w-r .pr-star-v4-100-filled {
  font-size: 3.125rem;
  margin-right: 0.75rem;
 }

#pr-write .p-w-r .thank-you-page .pr-star-v4-0-filled,
#pr-write .p-w-r .thank-you-page .pr-star-v4-25-filled,
#pr-write .p-w-r .thank-you-page .pr-star-v4-50-filled,
#pr-write .p-w-r .thank-you-page .pr-star-v4-75-filled,
#pr-write .p-w-r .thank-you-page .pr-star-v4-100-filled {
  font-size: 2rem;
}


/* Empty Star */
.p-w-r .pr-star-v4-0-filled:before {
  color: #cfbdb3;
  content: '\f005' !important;
}

/* Half Filled Star */
.p-w-r .pr-star-v4-50-filled:before {
  color: #3f000b;
  content: '\f089' !important;
}

/* Fully Filled Star */
.p-w-r .pr-star-v4-100-filled:before {
  color: #3f000b;
  content: '\f005' !important;
}

/***** Thank You Page *****/
.p-w-r .thank-you-page .pr-dark {
  color: #3f000b;
  font-family: 'GT-Walsheim-Bold', sans-serif;
}

.p-w-r .thank-you-page .header {
  border-bottom: 0;
  text-align: center;
  padding-bottom: 2rem;
  margin: 2rem 0;
}

.p-w-r .thank-you-page h1 {
  font-size: 2.5rem;
}

.p-w-r .thank-you-page h5 {
  text-align: center;
}

.p-w-r .thank-you-page .title,
.p-w-r .thank-you-page .subtitle,
.p-w-r .thank-you-page .headline {
  color: #3f000b;
  text-align: center;
}

.p-w-r .thank-you-page .pr-rating-number,
.p-w-r .thank-you-page .pr-rating-date {
  border: 0;
  padding-top: 0.625rem;
}

.p-w-r .thank-you-page .pr-rating-stars {
  float: none;
}

.p-w-r .thank-you-page .pr-rating-date {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'GT-Walsheim-Bold', sans-serif;
}
.p-w-r .thank-you-page .pr-rating-number {
  display: none;
}
.p-w-r .pr-clear-all-radios {
  color: #e03c31;
}

.p-w-r .thank-you-page .col-sm-12 {
  text-align: center;
}
.p-w-r .thank-you-page .review-preview {
  text-align: center;
  padding: 2rem;
  background-color: #fffceb;
}