#sct-timer-6034 .sct-timer:not(.sct-timer-mobile)[data-editable="general"] {
	background-color: #ECF0F8;
	padding-top: 18px;
	border-color: #FFFFFF;
	border-width: 0px;
	padding-bottom: 18px;
}
#sct-timer-6034 .sct-timer:not(.sct-timer-mobile) [data-editable="message-before-countdown"] {
	color: #41416A;
	font-family: Montserrat, inherit;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 36px;
}
#sct-timer-6034 .sct-timer:not(.sct-timer-mobile) [data-editable="countdown"] {
	background-color: #FFFFFF;
	box-shadow: 0px 12px 36px rgba(0,38,111,0.20);
	color: #41416A;
	border-color: #ECF0F8;
	border-width: 1px;
	border-radius: 8px;
	font-family: Montserrat, inherit;
	font-size: 36px;
}
#sct-timer-6034 .sct-timer:not(.sct-timer-mobile) [data-editable="countdown-labels"] {
	color: #41416A;
	font-family: Montserrat, inherit;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10px;
}
#sct-timer-6034 .sct-timer:not(.sct-timer-mobile) [data-editable="countdown-colons"] {
	color: #41416A;
	font-family: Montserrat, inherit;
	font-size: 36px;
}
#sct-timer-6034 .sct-timer:not(.sct-timer-mobile) [data-editable="message-after-countdown"] {
	color: #41416A;
	font-family: Montserrat, inherit;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 18px;
}
#sct-timer-6034 .sct-timer:not(.sct-timer-mobile) [data-editable="link"] {
	color: #314DCB;
	font-family: Montserrat, inherit;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	font-size: 18px;
}
#sct-timer-6034 .sct-timer:not(.sct-timer-mobile) [data-editable="button"] {
	background-color: #314DCB;
	border-color: #FFFFFF;
	border-width: 0px;
	border-radius: 35px;
	color: #FFFFFF;
	font-family: Montserrat, inherit;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	padding-top: 8px;
	padding-left: 16px;
	padding-bottom: 8px;
	padding-right: 16px;
}
#sct-timer-6034 .sct-timer:not(.sct-timer-mobile) [data-editable="button-link"] {
	text-decoration: none;
}
#sct-timer-6034 .sct-timer:not(.sct-timer-mobile) [data-editable="countdown-leaf"] {
	background-color: #FFFFFF;
	border-width: 1px;
	border-radius: 8px;
	border-color: #ECF0F8;
}
#sct-timer-6034 .sct-timer:not(.sct-timer-mobile) [data-editable="countdown-leaf-2"] {
	background-color: #FFFFFF;
	border-width: 1px;
	border-radius: 8px;
	border-color: #ECF0F8;
	line-height: 50px;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile[data-editable="general"] {
	background-color: #ECF0F8;
	padding-top: 12px;
	border-color: #FFFFFF;
	border-width: 0;
	padding-bottom: 12px;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile [data-editable="message-before-countdown"] {
	color: #41416A;
	font-family: Montserrat, inherit;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile [data-editable="countdown"] {
	background-color: #FFFFFF;
	box-shadow: 0px 12px 36px rgba(0,38,111,0.20);
	color: #41416A;
	border-color: #ECF0F8;
	border-width: 1px;
	border-radius: 8px;
	font-family: Montserrat, inherit;
	font-size: 18px;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile [data-editable="countdown-labels"] {
	color: #41416A;
	font-family: Montserrat, inherit;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 8px;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile [data-editable="countdown-colons"] {
	color: #41416A;
	font-family: Montserrat, inherit;
	font-size: 18px;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile [data-editable="message-after-countdown"] {
	color: #41416A;
	font-family: Montserrat, inherit;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 14px;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile [data-editable="link"] {
	color: #314DCB;
	font-family: Montserrat, inherit;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	font-size: 14px;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile [data-editable="button"] {
	background-color: #314DCB;
	border-color: #FFFFFF;
	border-width: 0px;
	border-radius: 35px;
	color: #FFFFFF;
	font-family: Montserrat, inherit;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile [data-editable="button-link"] {
	text-decoration: none;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile [data-editable="countdown-leaf"] {
	background-color: #FFFFFF;
	border-width: 1px;
	border-radius: 8px;
	border-color: #ECF0F8;
}
#sct-timer-6034 .sct-timer.sct-timer-mobile [data-editable="countdown-leaf-2"] {
	background-color: #FFFFFF;
	border-width: 1px;
	border-radius: 8px;
	border-color: #ECF0F8;
	line-height: 24px;
}
