/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-T0627_BGR {
  background-image: url(T0627.a011fedb.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0627_NVY {
  background-image: url(T0627.a011fedb.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
