/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-B1305_BBL {
  background-image: url(B1305.81541a72.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-B1305_BLU {
  background-image: url(B1305.81541a72.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-B1305_GRY {
  background-image: url(B1305.81541a72.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-B1305_RED {
  background-image: url(B1305.81541a72.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
