/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-J0503_BLK {
  background-image: url(J0503.7f029619.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-J0503_IVY {
  background-image: url(J0503.7f029619.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-J0503_NAV {
  background-image: url(J0503.7f029619.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-J0503_BST {
  background-image: url(J0503.7f029619.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-J0503_DPK {
  background-image: url(J0503.7f029619.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
