/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-T0198_NAV {
  background-image: url(T0198.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0198_PNK {
  background-image: url(T0198.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0198_TAN {
  background-image: url(T0198.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0198_YEL {
  background-image: url(T0198.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0198_GRN {
  background-image: url(T0198.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0198_BLK {
  background-image: url(T0198.jpg);
  background-position: -84px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0198_DPR {
  background-image: url(T0198.jpg);
  background-position: 0px -84px;
  width: 32px;
  height: 32px;
}
.icon-T0198_NEU {
  background-image: url(T0198.jpg);
  background-position: -42px -84px;
  width: 32px;
  height: 32px;
}
.icon-T0198_ORA {
  background-image: url(T0198.jpg);
  background-position: -84px -84px;
  width: 32px;
  height: 32px;
}
.icon-T0198_TUR {
  background-image: url(T0198.jpg);
  background-position: -126px 0px;
  width: 32px;
  height: 32px;
}
