/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-T0697_BRD {
  background-image: url(T0697.b64e2bf4.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0697_MBR {
  background-image: url(T0697.b64e2bf4.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0697_NAV {
  background-image: url(T0697.b64e2bf4.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0697_PUR {
  background-image: url(T0697.b64e2bf4.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0697_MUL {
  background-image: url(T0697.b64e2bf4.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
