/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-B1380_PBL {
  background-image: url(B1380.1ca6ebd7.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-B1380_RED {
  background-image: url(B1380.1ca6ebd7.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
