/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-T0511_LBL {
  background-image: url(T0511.30d4e1e0.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0511_MUL {
  background-image: url(T0511.30d4e1e0.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0511_NAV {
  background-image: url(T0511.30d4e1e0.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0511_NVY {
  background-image: url(T0511.30d4e1e0.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
