/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-G2317_DBL {
  background-image: url(G2317.3259888c.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-G2317_BLU {
  background-image: url(G2317.3259888c.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-G2317_LBL {
  background-image: url(G2317.3259888c.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
