/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-B1240_BLU {
  background-image: url(B1240.b290f63c.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-B1240_DBL {
  background-image: url(B1240.b290f63c.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-B1240_NAV {
  background-image: url(B1240.b290f63c.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-B1240_MUL {
  background-image: url(B1240.b290f63c.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-B1240_RED {
  background-image: url(B1240.b290f63c.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
