/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-T0612_GRY {
  background-image: url(T0612.494280af.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0612_NAV {
  background-image: url(T0612.494280af.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0612_PNK {
  background-image: url(T0612.494280af.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0612_YEL {
  background-image: url(T0612.494280af.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0612_ECR {
  background-image: url(T0612.494280af.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0612_PSP {
  background-image: url(T0612.494280af.jpg);
  background-position: -84px -42px;
  width: 32px;
  height: 32px;
}
