/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-C0673_RED {
  background-image: url(C0673.936f418c.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
