/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-M0553_GRN {
  background-image: url(M0553.3a14ca2c.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-M0553_NAV {
  background-image: url(M0553.3a14ca2c.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-M0553_NVY {
  background-image: url(M0553.3a14ca2c.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
