/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-T0625_BRN {
  background-image: url(T0625.5f3a17af.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0625_LBL {
  background-image: url(T0625.5f3a17af.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0625_NAV {
  background-image: url(T0625.5f3a17af.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0625_NTL {
  background-image: url(T0625.5f3a17af.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
