/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-W0532_PUR {
  background-image: url(W0532.0393026d.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-W0532_IVO {
  background-image: url(W0532.0393026d.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-W0532_NAV {
  background-image: url(W0532.0393026d.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-W0532_ORA {
  background-image: url(W0532.0393026d.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-W0532_PBL {
  background-image: url(W0532.0393026d.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
