/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-K0321_IVO {
  background-image: url(K0321.f2ff05df.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-K0321_NAV {
  background-image: url(K0321.f2ff05df.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
