/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-T0435_DYL {
  background-image: url(T0435.f1806972.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0435_GRN {
  background-image: url(T0435.f1806972.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0435_GRY {
  background-image: url(T0435.f1806972.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0435_MBL {
  background-image: url(T0435.f1806972.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0435_NAV {
  background-image: url(T0435.f1806972.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0435_DGY {
  background-image: url(T0435.f1806972.jpg);
  background-position: -84px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0435_PNK {
  background-image: url(T0435.f1806972.jpg);
  background-position: 0px -84px;
  width: 32px;
  height: 32px;
}
