/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-Y1195_BLU {
  background-image: url(Y1195.8ab5b334.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-Y1195_YEL {
  background-image: url(Y1195.8ab5b334.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
