/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-T0626_LBR {
  background-image: url(T0626.7dab6ed6.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
