/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-J0487_BLK {
  background-image: url(J0487.ee2f0599.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-J0487_LPK {
  background-image: url(J0487.ee2f0599.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-J0487_TUR {
  background-image: url(J0487.ee2f0599.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-J0487_IVY {
  background-image: url(J0487.ee2f0599.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-J0487_BER {
  background-image: url(J0487.ee2f0599.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
.icon-J0487_NVY {
  background-image: url(J0487.ee2f0599.jpg);
  background-position: -84px -42px;
  width: 32px;
  height: 32px;
}
