/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-T0549_DYL {
  background-image: url(T0549.a56ef0e8.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0549_LBR {
  background-image: url(T0549.a56ef0e8.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0549_NAV {
  background-image: url(T0549.a56ef0e8.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
