/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-K0255_BLK {
  background-image: url(K0255.f320a3c4.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-K0255_NEU {
  background-image: url(K0255.f320a3c4.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-K0255_BLA {
  background-image: url(K0255.f320a3c4.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-K0255_DBR {
  background-image: url(K0255.f320a3c4.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-K0255_GRY {
  background-image: url(K0255.f320a3c4.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
.icon-K0255_NAV {
  background-image: url(K0255.f320a3c4.jpg);
  background-position: -84px -42px;
  width: 32px;
  height: 32px;
}
