/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-B0802_BLU {
  background-image: url(B0802.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-B0802_GRN {
  background-image: url(B0802.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-B0802_KHK {
  background-image: url(B0802.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-B0802_MBL {
  background-image: url(B0802.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-B0802_ORA {
  background-image: url(B0802.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
.icon-B0802_YEL {
  background-image: url(B0802.jpg);
  background-position: -84px -42px;
  width: 32px;
  height: 32px;
}
.icon-B0802_NAV {
  background-image: url(B0802.jpg);
  background-position: 0px -84px;
  width: 32px;
  height: 32px;
}
