/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-Y1199_MGR {
  background-image: url(Y1199.d23825fb.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-Y1199_IND {
  background-image: url(Y1199.d23825fb.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
