/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-T0620_BLK {
  background-image: url(T0620.79cb7816.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0620_NAV {
  background-image: url(T0620.79cb7816.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0620_RAS {
  background-image: url(T0620.79cb7816.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0620_SAG {
  background-image: url(T0620.79cb7816.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0620_YEL {
  background-image: url(T0620.79cb7816.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
.icon-T0620_BRN {
  background-image: url(T0620.79cb7816.jpg);
  background-position: -84px -42px;
  width: 32px;
  height: 32px;
}
.icon-T0620_NVY {
  background-image: url(T0620.79cb7816.jpg);
  background-position: 0px -84px;
  width: 32px;
  height: 32px;
}
