/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-J0254_DRD {
  background-image: url(J0254.jpg);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
.icon-J0254_BER {
  background-image: url(J0254.jpg);
  background-position: -84px -42px;
  width: 32px;
  height: 32px;
}
.icon-J0254_BLK {
  background-image: url(J0254.jpg);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-J0254_BRN {
  background-image: url(J0254.jpg);
  background-position: -42px -42px;
  width: 32px;
  height: 32px;
}
.icon-J0254_GRY {
  background-image: url(J0254.jpg);
  background-position: -84px 0px;
  width: 32px;
  height: 32px;
}
.icon-J0254_IVO {
  background-image: url(J0254.jpg);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-J0254_NAV {
  background-image: url(J0254.jpg);
  background-position: 0px -84px;
  width: 32px;
  height: 32px;
}
.icon-J0254_NVY {
  background-image: url(J0254.jpg);
  background-position: -42px -84px;
  width: 32px;
  height: 32px;
}
.icon-J0254_WHT {
  background-image: url(J0254.jpg);
  background-position: -84px -84px;
  width: 32px;
  height: 32px;
}
.icon-J0254_CAM {
  background-image: url(J0254.jpg);
  background-position: -126px 0px;
  width: 32px;
  height: 32px;
}
.icon-J0254_PUR {
  background-image: url(J0254.jpg);
  background-position: -126px -42px;
  width: 32px;
  height: 32px;
}
