li{
	margin-bottom: .25em;
	text-align: left;
}
	

.experiments-module-content-display a:hover, .experiments-module-content-display a:focus { color: #888888 !important; text-decoration: underline; }

.product-actions {
	min-height: 500px;
}

.cart-contents .ebook-subtotal .club-subtotal { 
	width: 10%;
	text-align: right;
	color:#002285; 
	font-weight:bold
}

.list li .club-price, .list li .ebook-price
{
	display: block;
	font-size: 1.2em;
	font-style: normal;
}

.order_items_table { border: 1px solid #CCCCCC; }

.order_one_shipment_table { border: 1px solid #CCCCCC; }

.order_one_shipment_table tr
{
	vertical-align: top;
	margin: 2px;
}

.order_one_shipment_totals_value
{
	font-size: 10px;
	color: #333333;
	text-align: right;
}

.order_one_shipment_totals_value_strong
{
	font-size: 10px;
	color: #333333;
	text-align: right;
	font-weight: bold;
}

.order_table_btn_column {
        width: 20%;
}
