.dynamicAdvertContainer {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    background: #EEE;
    overflow: hidden;
    top:0px;
    line-height: 1.15;
    left:0px;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}
