.bannerSize {
  width: 728px;
  height: 90px;
}


#border {
  position: absolute;
  border: solid 1px black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px;
}

#frame4 {
	background: url(img/frame4.jpg);
}

#frame1 {
  background: url(img/frame1.jpg);
}

#frame2 {
  background: url(img/frame2.jpg);
}

#frame3 {
  background: url(img/frame3.jpg);
}

#frame5 {
  background: url(img/frame5.jpg);
}




