
/*chef'd container styles*/
.chefd-bundle-container-storefront{}

.chefd-bundle-container-storefront h2{
	font-size: 15px;
	font-weight:bold;
	padding: 0px;
	margin:0px;
}
.chefd-bundle-container-storefront p{ 
	margin:0px; 
}
.chefd-bundle-container-storefront ul{
	list-style-type: circle;
	margin: 0px;
}
.chefd-bundle-container-storefront div{
	padding-bottom:10px;
}


/*Intro paragraph section styles*/
.chefd-intro-paragaph-storefront{}

/*Estimated cooking time, Skill Level, and Spice Level styles*/
.chefd-cookingdetails-storefront{}
.chefd-cookingdetails-storefront p{
	font-size: 15px;
}
.chefd-cookingdetails-storefront h2,
.chefd-cookingdetails-storefront p{
	display: inline-block;
}

/*Suggested pairings styles*/
.chefd-pairings-storefront{}

/*Ingredients styles*/
.chefd-ingredients-storefront{}

/*Equipment You’ll Need styles*/
.chefd-equipment-storefront{}

/*From Your Pantry styles*/
.chefd-pantry-storefront{}

/*Ingredients 411 styles*/
.chefd-ingredients411-storefront{}


/*MOBILE WEB*/
.mm-page .chefd-bundle-container-storefront h2{
	font-size: 12px;

}