.hl-prodgroup-rightrail * {
    display: block;
    font-size: 13px;
    color: #000;
    text-decoration: none !important;
}

.hl-rightrail-sponsored {
    color: #666666 !important;
}

.hl-prodgroup-rightrail .hl-product {
    border-bottom: 2px solid #e3e3e3;
}

.hl-prodgroup-rightrail .hl-image-container {
    height: 158px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 6%;
}

.hl-prodgroup-rightrail img {
    height: 100%;
}

.hl-prodgroup-rightrail .hl-name {
    margin-bottom: 35px;
    font-size: 15px;
}

.hl-prodgroup-rightrail a:hover .hl-name {
    text-decoration: underline !important;
    color: #005CCC;
}

.hl-prodgroup-rightrail .hl-price-container {
    height: 42px;
    margin-bottom: 14px;
}

.hl-prodgroup-rightrail .hl-price-orig {
    font-size: 21px;
    font-weight: 700;
    line-height: 19px;
}

.hl-prodgroup-rightrail .hl-price-sale {
    text-decoration: line-through !important;
}

.hl-prodgroup-rightrail .hl-red {
    color: #D01833;
}

.hl-prodgroup-rightrail .hl-hidden {
    visibility: hidden;
}

.hl-soldby {
    color: #666666;
    margin-bottom: 5px;
}