@font-face {
  font-family: 'DIN Black';
  src: url('DIN-Black.eot'); /* IE9 Compat Modes */
  src: url('DIN-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DIN-Black.woff') format('woff'), /* Modern Browsers */
       url('DIN-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DIN-Black.svg#656984feefe046b1101270f2fac7fccc') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DIN Bold';
  src: url('DIN-Bold.eot'); /* IE9 Compat Modes */
  src: url('DIN-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DIN-Bold.woff') format('woff'), /* Modern Browsers */
       url('DIN-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DIN-Bold.svg#141abd1e4da862069abc8898071740b0') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'DIN Light';
  src: url('DIN-Light.eot'); /* IE9 Compat Modes */
  src: url('DIN-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DIN-Light.woff') format('woff'), /* Modern Browsers */
       url('DIN-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DIN-Light.svg#2027e760254904bf0a383b6efd34e0f4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'DIN Medium';
  src: url('DIN-Medi.eot'); /* IE9 Compat Modes */
  src: url('DIN-Medi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DIN-Medi.woff') format('woff'), /* Modern Browsers */
       url('DIN-Medi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DIN-Medi.svg#b9911274250f06b67313a331d1833cfa') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DIN Medium Italic';
  src: url('DIN-MediIta.eot'); /* IE9 Compat Modes */
  src: url('DIN-MediIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DIN-MediIta.woff') format('woff'), /* Modern Browsers */
       url('DIN-MediIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DIN-MediIta.svg#4c9a94ffef2e80820d8ad615bb9900a3') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
