.yui-skin-sam .yui-accordionview li.yui-accordion-panel {
	display:inline;
	margin:0;
	padding:0;
}
.yui-skin-sam ul.yui-accordionview {
    *border-color: #ffffff;
}
.yui-skin-sam .yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle {
	background-color: #706f6f;
	color: #ffffff;
	font-family: Arial; 
	*border-color: #ffffff;
}
.yui-skin-sam .yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle.active {
	background-color: #706f6f;
	color: #ffffff;
	font-family: Arial;
	*border-color: #ffffff;
}
.yui-skin-sam .yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle:hover {
	color: color: #ffffff;
	font-family: Arial;
}
.smb-fc .yui-panel .bodybg {
	background-color: #cccccc; /*Outer background color*/
}
.smb-fc .yui-dt td {
	background-color: #ffffff; /*Inner background color*/
}
.yui-skin-sam .yui-accordionview div.yui-accordion-content {
	background-color: #ffffff; /*Inner background color*/
	border: 0 none;
	color: #706f6f;
}
.smb-fc #yfc_itemDetails .yui-dt-bd {
	background-color: #ffffff;
}
.smb-mc {
	font-family: Arial;
	color: #706f6f;
}
.smb-mc .mini_msg,.mini_item_count,.mini_subtotal {
	font-family: Arial;
	color: #706f6f;
}
.smb-mc .minicart_c2 {
	background-color: none; /*Minicart background color when FC is open = Outer background color*/
}
.smb-mc .mini_icon {
	background: url("") no-repeat;
}
.smb-mc .mini_close {
	font-family: Arial;
	color: #706f6f;
}
.smb-fc #yfc_close_btn {
	color: #706f6f;
	background-color: #cccccc;
}
.smb-fc .remove-btn {
	background: url("https://s.yimg.com/ae/l.yimg.com/a/lib/smbiz/store/yfc/img/remove.png") no-repeat;
}
.smb-fc .respWait {
	background: url("https://s.yimg.com/ae/l.yimg.com/a/lib/smbiz/store/yfc/img/loader-black.gif") no-repeat;
}
.yui-skin-sam .yui-accordion-toggle .indicator {
	background: url("https://s.yimg.com/ae/l.yimg.com/a/lib/smbiz/store/yfc/img/arrow_right_black.gif") no-repeat;
}
.yui-skin-sam .yui-accordion-toggle.active .indicator {
	background: url("https://s.yimg.com/ae/l.yimg.com/a/lib/smbiz/store/yfc/img/arrow_down_black.gif") no-repeat;
}

.smb-fc .yui-panel {
	border-color: #cccccc; /*Outer background color*/
	background-color: #cccccc; /*Outer background color*/
}
.smb-fc .yui-panel .bodybg {
	background-color: #cccccc; /*Outer background color*/
}
.smb-fc .yui-panel .bd {
	background-color: #cccccc; /*Outer background color*/
}
.smb-fc {
	z-index: 9999; /* to prevent other things overlapping on this */
	left:595px;
	font-family: Arial;
	color: #706f6f;
}
.smb-fc .sum {
	background-color: #ffffff; /*Inner background color*/
}
.smb-fc .sum span {
	color: #706f6f;
}
.smb-fc #yfc_sh_promo,#yfc_sh_extra {
	color: #706f6f;
}
#yfc_subTotal, #yfc_shipPromo, #yfc_extraDiv {
	background-color: #ffffff; /*Inner background color*/
}
.smb-fc .shipFooter,.couponHeader {
	color: #706f6f;
}
.smb-fc .inner-bg-col {
	background-color: #ffffff; /*Inner background color*/
}
.smb-fc .yui-dt-liner span.item-options {
	font-family: Arial; /*Primary font*/
    color: #706f6f; /*Primary font color*/
}
.smb-fc .yui-dt-liner .qty {
        font-family: Arial; /*Primary font*/
    color: #706f6f; /*Primary font color*/
}
.smb-fc .yui-dt-liner .price span.normal,span.full,span.save {
	font-family: Arial; /*Primary font*/
	color: #706f6f; /*Primary font color*/
}
.smb-fc .yui-dt-liner .price span.disc {
	font-family: Arial; /* Emphasis font */
	color: #ff3366; /* Emphasis font color */
	font-weight: bold;
}
/* ------------------------- 
	Set style for links
------------------------- */
.smb-fc a:link { /* unvisited link */
	font-family: Arial;
	color: #0066ff;
}     
.smb-fc a:active { /* active link */
	font-family: Arial;
	color: #0066ff;
}
.smb-fc a:visited { /* visited link */
	font-family: Arial;
	color: #0066ff;
}
.smb-fc a:hover { /* mouseover link */
	font-family: Arial;	
	color: #0066ff;
}
.smb-fc #yfc_ship-promo-link {
	font-family: Arial;
    color: #0066ff;
} 
/* Button styling */
.smb-fc .btn1 {
	font-family: Arial;
	color: #ffffff;
	background-color: #706f6f; 
}
.smb-fc .btn2 {
	font-family: Arial;
	color: #363636;
	background-color: #e1e1e1;
}