html:first-child>b\ody .spaceContentNav{height:4em!important}
html:first-child>b\ody #contentNav ul{float:none!important;min-height:20px}
html:first-child>b\ody #contentNav ul li{float:none!important;display:inline}
html:first-child>b\ody #contentNav ul li input{padding:.1em .9em .15em .9em}
html:first-child>b\ody p.extSearch input{padding:2px 0 2px 30px}
html:first-child>b\ody div#wrap div#layout01 div#layout02 div#content fieldset.marginalSearch p.searchBtn{width:auto}
html:first-child>b\ody div.box .jsToggle label.check{position:static}
html:first-child>b\ody div.box .jsToggle label.check input{position:static;margin-left:-2em}
html:first-child>b\ody div.col6 div.topHotel{padding:.8em 0 3em 23em;width:40.8em}
html:first-child>b\ody div#wrap.contentNavChilds #contentNav ul.secondLevel{margin-top:-3px}
html:first-child>b\ody .search #searchForm .button input{min-width:1em}
html:first-child>b\ody .hoteldetail #head address{padding-bottom:1em}
html:first-child>b\ody .hoteldetail #hotelOverview{width:100%}
html:first-child>b\ody .hoteldetail #head h1 img{margin-right:2em}
html:first-child>b\ody div.bookingStat ul li img{float:left}
body:last-child:not(:root:root) p.help a img{right:-5em}
body:last-child:not(:root:root) #nav li a,body:last-child:not(:root:root) #meta li a,body:last-child:not(:root:root) #meta li.language b,body:last-child:not(:root:root) #meta li#fontSize b{float:left}
body:last-child:not(:root:root) #nav li ul,body:last-child:not(:root:root) #nav li.login form{top:1.9em}
body:last-child:not(:root:root) #meta li ul{top:1.4em}
body:last-child:not(:root:root) #nav li ul li a,body:last-child:not(:root:root) #meta li ul li a{width:100%}
body:last-child:not(:root:root) .hoteldetail #head h1 img{margin-right:2em}
html[xmlns*=""] body:first-of-type p.help a img{right:0}
html[xmlns*=""] body:first-of-type #contentNav{position:relative;margin:-3em 0 0 0}
html[xmlns*=""] body:first-of-type #contentNav ul{float:none!important;min-height:20px}
html[xmlns*=""] body:first-of-type #contentNav ul li input{padding:.1em .9em .15em .9em;margin:.2em 0 .35em 0}
html[xmlns*=""] body:first-of-type div#wrap div#layout01 div#layout02 div#content fieldset.marginalSearch p.searchBtn{width:auto}
html[xmlns*=""] body:first-of-type .hoteldetail #head,html[xmlns*=""] body:first-of-type .hoteldetail #hotelOverview{width:100%}
html[xmlns*=""] body:first-of-type div.jsSlide{width:55.4em}
html[xmlns*=""] body:first-of-type .spaceContentNav{height:1em}
html[xmlns*=""] body:first-of-type .hotelData .spaceContentNav{height:0}
@media screen and (-webkit-min-device-pixel-ratio:0){.hrsGuarantee{top:100px}
.notepad td.hn{width:9.1em!important}
.notepad td.hb{width:96px!important}
.notepad td.last{width:5.7em!important}
.notepad td.lastFc{width:2em!important}
#tablehead.hotellist .hd{width:12.5em!important}
#tablehead.hotellist .fc{width:8.2em!important}
.notepad .hr{width:3em!important}
.notepad .np{width:10.7em}
.notepad .hd{width:1.2em}
.notepad div .hi{width:6.8em}
.notepad .np .hp{width:8.95em}
#tablehead .hp{width:6.5em!important}
#tablehead .hi{width:5.1em!important}
#tablehead .hn{width:7em!important}
#tablehead .hr{width:3.5em!important}
.hotellist td{height:4.2em}
.hotellist .sortList td{height:auto}
.favorites .hotellist td{height:auto}
.hotellist td.fc{width:1.425em!important}
td.last{width:1.5em!important}
div.hb{width:7em}
.hotellist .buttonBox{left:15px;bottom:.2em}
div#wrap #tablehead .mm span span{width:auto!important}
#tablehead.hotellist .hf{width:5.3em!important}
#tablehead.notepad .hf{width:4.8em!important}
#tablehead.notepad .hn{width:9.4em!important}
#tablehead.notepad .hr{width:3.5em!important}
#tablehead.notepad .hi{width:5.5em!important}
#tablehead.notepad .hp{width:5.9em!important}
#tablehead .mm{width:18px}
#columnMarker.cmHN{width:155px;left:124px}
#columnMarker.cmHR{width:57px;left:279px}
#columnMarker.cmHP{width:207px;left:336px}
#columnMarker.cmHD_area{width:23px;left:545px}
#columnMarker.cmHD_train{width:23px;left:570px}
#columnMarker.cmHD_airport{width:23px;left:594px}
#columnMarker.cmHD_highway{width:23px;left:618px}
#filter.teaser input.button{padding-left:21px!important;background-position-y:-5349px!important}
#tablehead.hl15TH td.hd{width:187px!important}
#tablehead.hl15TH td.hn{width:142px!important}
.teaser #searchForm label.rightCol{width:6.8em}
#tablehead.notepad .fc{width:7.2em!important}
#tablehead.notepad td.hd{width:18em!important}
.hotellist.notepad .mm{width:1.55em!important}
.hotellist.notepad .hf{width:4.5em!important}
.hotellist td.lastFc{width:20px!important;overflow:hidden}
.hotellist td.lastFc span,.notepad td.lastFc span{width:40px}
.popup td.last{width:2em!important}
.popup td.lastFc{width:2.9em!important}
.print .hotellist .hf{width:6.8em!important}
.print #tablehead .hn{width:10em!important}
.print #tablehead .hr{width:4.6em!important}
.print #tablehead .hi{width:9.6em!important}
.print #tablehead .hd{width:8.4em!important}
html[xmlns*=""] body:last-child .hotellist td.lastFc{width:2.9em!important;overflow:hidden}
html[xmlns*=""] body:last-child .hotellist td.lastFc span{width:auto!important}
dd.totalPrice{float:right}
}
html[xmlns*=""] body:first-of-type #tablehead .mm{width:2.6em}
html[xmlns*=""] body:first-of-type form#searchForm label.age select{width:42px}
body:last-child:not(:root:root) p.help a img{right:0}
#head{*z-index:1005}
#content{*z-index:10}
#head .login{*z-index:1005}
#content,#startFirstRow,#startSecondRow{width:97.6em}
@media all and (min-width:0){#hotellistFrame{overflow:hidden}
#hotellistFrame[class^="hb"]{overflow:auto}
div#wrap div.cityList p.pic{float:none}
div#wrap div.cityList p.pic[class^="pic"]{float:left}
.bar{margin:.8em .8em -1px 0}
iframe,#hotellistFrame{z-index:-10000000}
#filter ul.jsToggle{padding-top:1px}
#content input.link{padding-left:15px}
}
@media screen and (-webkit-min-device-pixel-ratio:0){body div#wrap #tablehead .mm span span{width:4.3em}
#basketOffers td{height:1px}
}
#content dl.totalPriceWrap{*overflow:hidden}
#content dl.totalPriceWrap dt{*position:static}
#content dl.totalPriceWrap dt img{*position:absolute;*bottom:0;_bottom:-1px;*left:auto;*display:block;*margin-left:-5.5em}
@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0){fieldset.comfortableness img,fieldset.myStarRating img{margin-left:0}
div#content div.marginal dl.navi{width:100%!important}
#startFirstRow .col3{position:relative;overflow:hidden}
#startFirstRow .col3 .cityList p.teaserLink{height:2.1em}
#offerSelection{width:6em}
#basketOffers td{height:100%}
#basketOffers .roomOffer .textWrap{width:13.7em}
#basketOffers .textWrap{padding-bottom:1.4em}
.discountsWrap{margin-bottom:.4em}
.basketOffers .roomOffer .textWrap{width:14.7em}
col.offerSelection{width:6.9em}
#tablehead.notepad .hd{width:20.8em!important}
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,cite,dfn,em,img,ins,q,s,strong,sub,sup,tt,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{-webkit-text-size-adjust:none}
@media only screen and (min-device-width :768px) and (max-device-width :1024px){#searchButtonHotellist.button{background:url("../../images/wide/_general/_general/start.png") no-repeat scroll 100% -6108px #cc092f!important;padding:.2em .65em .2em .5em!important}
#routingButton{background:url("../../images/wide/_general/_general/start.png") no-repeat scroll 100% -6108px #cc092f!important}
}