.contentful-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 4em auto;
    padding: 0 30px;
    font-size: initial;
}

.contentful-wrapper p b {
    font-weight: 600;
}

.contentful-wrapper h1,
.contentful-wrapper h2 {
    font-weight: normal;
    text-align: center;
}

.contentful-wrapper h2,
.contentful-wrapper h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.contentful-wrapper h1 { 
    font-size: 30px;
    margin-top: 2em;
    margin-bottom: 1em;
}

.contentful-wrapper h3 { 
    font-weight: 600;
    line-height: 1.2em;
}

.contentful-wrapper h3 b,
.contentful-wrapper a { font-size: inherit }

.contentful-wrapper ul,
.contentful-wrapper ol { 
    margin-top: 1em;
    font-size: initial;
    padding-left: 50px;
}

.contentful-wrapper ul { list-style: disc }
.contentful-wrapper ol { list-style: decimal }

.contentful-wrapper ul li p,
.contentful-wrapper ol li p { 
    margin-top: 0 !important;
    margin-bottom: 1em;
}

.contentful-wrapper p { 
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.contentful-wrapper img { 
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 4em;
    font-size: 10px;
}

.contentful-wrapper a {
    color: #3a861c;
    text-decoration: underline;
}

/* MOBILE */
@media only screen and (max-width: 500px) {
    .contentful-wrapper { margin-top: 2em }

    .contentful-wrapper h1 {
        font-size: 27px;
        line-height: 1.2em;
        margin-top: 3em;
    }

    .contentful-wrapper h3 { font-size: 18px }

    .contentful-wrapper p:nth-last-of-type(-n+2) a {
        display: inline-block;
        font-size: 15px;
        margin-bottom: 0.8em;
    }

    .contentful-wrapper p { margin-bottom: 1em }

    .contentful-wrapper ul,
    .contentful-wrapper ol {
        padding-left: 40px;
    }

    .contentful-wrapper img {
        max-width: 100%;
    }
}

/* SMALL MOBILE */
@media only screen and (max-width: 340px) {
    .contentful-wrapper { padding: 0 10px }

    .contentful-wrapper h1 { font-size: 24px }

    .contentful-wrapper p:nth-last-of-type(-n+2) a { font-size: 12px }
}