.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ChristmasIntroFrameBorder {
    height: 598px;
    width: 158px;
    border: 1px solid #000;
}

#ChristmasIntroFrame {
    z-index: 1;
    opacity: 0;
    height: 600px;
    width: 160px;
    background-color: #001E73;
}

#CI_Frame3Cont,
#CI_Frame2Cont,
#CI_Frame1Cont {
    width: 160px;
    height: 600px;
}

#bestBuyLogo {
    left: 28px;
    top: 100px;
}

#mountainBack {
    top: 286px;
    left: -95px;
    width: 264px;
    height: 247px;
}

#mountainFront {
    top: 346px;
    left: -4px;
    width: 213px;
    height: 205px;
}

#giftBox {
    width: 185px;
    left: 10px;
    top: 368px;
}

#CI_Frame2CopyCont,
#CI_Frame3CopyCont {
    color: #fff;
    font-weight: 800;
}

#CI_Frame2CopyCont {
    left: 17px;
    top: 122px;
    width: 130px;
    height: 190px;
}

#CI_Frame2Copy {
    font-size: 36px;
    line-height: 0.97;
}

#CI_Frame3CopyCont {
    left: 54px;
    top: 68px;
    margin-left: 10px;
    margin-top: 15px;
}

#CI_Frame3Copy {
    /*    font-size: 70px;*/
    font-size: 44px;
    line-height: 1;
    color: #ffe70b;
}

#sparklesCont > div > svg > .cls-1 {
    /*    change colour of svg*/
    fill: #4C79E0;
}

#sparklesCont > div {
    opacity: 0;
}

#sparklesCont {
    left: 112px;
    top: 105px;
}

#sparkle1 {
    width: 7px;
    height: 7px;
    top: 34px;
    left: 2px;
}

#sparkle2 {
    width: 4px;
    height: 4px;
    left: 11px;
    top: 26px;
}

#sparkle3 {
    width: 11px;
    height: 11px;
    top: 18px;
    left: 10px;
}

#sparkle4 {
    width: 3px;
    height: 3px;
    left: 25px;
    top: 11px;
}

#sparkle5 {
    width: 5px;
    height: 5px;
    left: 21px;
    top: 5px;
}

#sparkle6 {
    width: 3px;
    height: 3px;
    left: 17px;
    top: -3px;
}

#sparkle7 {
    width: 3px;
    height: 3px;
    top: -6px;
    left: 25px;
}
