@font-face {
    font-family: 'HumanBBYWeb';
    src: url('../HumanBBY-55Regular-Web.woff2') format('woff2'),
    url('../HumanBBY-55Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HumanBBYWeb';
    src: url('../HumanBBY-75Bold-Web.woff2') format('woff2'),
    url('../HumanBBY-75Bold-Web.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
    font-size: 13px;
    font-style: normal;
    color: #000;
}

.abso {
    position: absolute;
    display: block;
    top: 0px;
}

#container {
    position: absolute;
    display: block;
    background-color: #fff;
    width: 160px;
    height: 600px;
    overflow: hidden;
    opacity: 0.0;
}

sup {
    vertical-align: super;
    font-size: 12px;
    /* color:#000; */
}



#border {
    position: absolute;
    display: block;
    width: 158px;
    height: 598px;
    border: solid 1px black;
    pointer-events: none;
}



#non_splash_hold {
    position: absolute;
    display: block;
    background-color: #fff;
    width: 160px;
    height: 600px;
}

#carousel {
    position: absolute;
    display: block;
    width: 130px;
    height: 378px;
    left: 15px;
    top: 73px;
    overflow: hidden;
}

.prod {
    position: absolute;
    display: block;
    width: 130px;
    height: 378px;
    overflow: hidden;
    left: 160px;
    top: 0px;
}

.prod_img_hold {
    position: relative;
    width: 130px;
    height: 156px;
}

.prod_img_hold img {

    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.prod_img_hold p {
    position: relative;
    width: 130px;
    height: 156px;
}

.prod_img {
    display: block;
    align-self: center;
}

.prod_info {
    position: absolute;
    display: block;
    width: 130px;
    height: 222px;
    left: 0px;
    top: 156px;
}

.prod_desc {
    position: absolute;
    display: block;
    left: 5px;
    top: 0px;
    width: 120px;
    /* font-family: "HumanBBYWeb","HumanBBYWeb",Arial,Helvetica,"Nimbus Sans L","Liberation Sans",FreeSans,sans-serif; */
    color: #0d4ca7;
    line-height: auto;
    text-align: left;
    height: auto;
}

.prod_price {
    position: absolute;
    display: block;
    left: 0px;
    top: 110px;
    width: 130px;
    font-size: 22px;
    font-weight: bold;
    : "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
    color: #000;
    line-height: .2em;
    text-align: center;
}


.prod_logo {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    opacity: 0.0;
}

.prod_btn {
    position: absolute;
    display: block;
    width: 160px;
    height: 378px;
    left: 0px;
    top: 0px;
    background-color: cornflowerblue;
    opacity: 0.0;
}

#arrow_left {
    position: absolute;
    display: none;
    left: 2px;
    top: 285px;
    opacity: 0;
}

#arrow_right {
    position: absolute;
    display: none;
    left: 140px;
    top: 285px;
    opacity: 0;
}

#whiteBlock {
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    background-color: #fff;
    width: 160px;
    height: 600px;
}

#cta_hold {
    position: absolute;
    display: block;
    width: 160px;
    height: 28px;
    top: 432px;
}

#cta_bg {
    width: 76px;
    height: 28px;
    border-radius: 5px 5px;
    margin-right: auto;
    margin-left: auto;
}

#cta_copy {
    position: absolute;
    text-align: center;
    font-weight: bold;
    pointer-events: none;
}

#footer_btn {
    position: absolute;
    display: block;
    width: 160px;
    height: 150px;
    left: 0px;
    top: 450px;
    background-color: cornflowerblue;
    opacity: 0.0;
}

#header_btn {
    position: absolute;
    display: block;
    width: 160px;
    height: 72px;
    left: 0px;
    top: 0px;
    background-color: cornflowerblue;
    opacity: 0.0;
}

#legal_txt {
    position: absolute;
    top: 584px;
    left: 14px;
    font-size: 9px;
    color: #fff;
    width: 120px;
}

.irc {
    font-size: 12px;
    line-height: 10px;
}

.dollarSign {
    color: #0d4ca7
}

#default_img {
    position: absolute;
    display: none;
    left: 0px;
}

#non_splash {
    position: absolute;
    display: block;
    left: 0px;
}